
:host {
    --btn_width: 90px;
    --btn_height: 30px;
}

.comment_block {
    background-color: var(--primary_background_color);
    width: calc(100%);
    height: auto;
    // margin-bottom: 10px;
    padding: 5px 0;
    box-sizing: border-box;
    // border-left: 1px solid var(--border);
    // position: relative;
}

button:disabled:hover, #btn_downvote:disabled:hover, #btn_upvote:disabled:hover {
    background-color: var(--primary_background_color);
}

button:disabled, #btn_downvote:disabled, #btn_upvote:disabled {
    opacity: 0.5;
}

.comment_block > *, #comment_editor_block {
    margin: 0 7px;
}

#header, #info_block, #block_vote, .footer_btn, #footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#header {
    width: 100%;
}

#header > img:hover {
    cursor: pointer;
}

#info_block {
    margin-left: 10px;
}

textarea#input_post_title {
    background-color: var(--search);
    color: black;
}

i, img {
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

pre {
    color: var(--secondary_color);
}

#img_close_comment {
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#txt_username {
    color: var(--icon) !important;
    text-decoration: none;
}

#txt_username:hover {
    text-decoration: underline !important;
}

#footer {
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    margin-top: 3px;
    position: relative;
    margin-left: 37px;
    box-sizing: border-box;
}

#footer > * {
    border-radius: 20px;
}

#block_vote {
    width: auto;
    height: 100%;
}

.footer_btn {
    width: auto;
    height: 100%;
    padding: 0 7px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment_content {
    height: auto;
    width: calc(100% - 35px - 7px);
    margin-top: 5px;
    box-sizing: border-box;
    overflow-wrap:break-word;
    margin-left: 48px;
    box-sizing: border-box;
}

#btn_option {
    width: auto;
    height: 100%;
    padding: 0 10px;
    border-radius: 50%;
}

#btn_option:hover, .footer_btn:hover {
    background-color: var(--bg_hover);
}

#btn_upvote, #btn_downvote {
    padding: 5px 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_upvote img, #btn_downvote img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

#btn_upvote, #btn_downvote, #block_vote, .footer_btn, #btn_option {
    background-color: var(--primary_background_color);
}

#comment_editor_block {
    width: calc(100% - 7px);
    height: auto;
    position: relative;
    margin-bottom: calc(var(--btn_height) * 1);
}

#btn_comment_block {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    position: absolute;
    bottom: 7px;
    right: 10px;
}

#btn_comment_block > * {
    text-align: center;
    margin-left: 10px;
}

#btn_cancel_comment {
    width: auto;
    height: var(--btn_height);
    padding: 0 20px;
    background-color: var(--primary_background_color);
    border-radius: 20px;
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
}

#btn_submit_comment, #btn_edit_comment {
    width: var(--btn_width);
    height: var(--btn_height);
    background-color: var(--allow);
    border-radius: 20px;
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
}

.footer_btn,  #block_vote,  #btn_downvote,  #btn_upvote {
    background-color: var(--primary_background_color);
}

.footer_btn:hover,  #btn_downvote:hover, .user_comment #btn_upvote:hover {
    background-color: var(--primary_background_color);
}

.upvote {
    background-color: var(--upvote);
}

.downvote {
    background-color: var(--downvote);
}

#btn_upvote:hover {
    background-color: var(--search)
}

#btn_downvote:hover {
    background-color: var(--search)
}

.footer_btn:hover {
    background-color: var(--search);
}