
:host {
    --btn_width: 100px;
    --btn_height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#editor {
    width: 100%;
    height: auto;
    min-width: 450px;
}

#btn_comment_block {
    padding-top: 20px;
    padding-bottom: 50px;
}

#btn_comment_block > button {
    width: 100px;
    height: var(--btn_height);
    padding: 0 20px;
    border-radius: 20px;
    font-size: 16px;
    color: var(--secondary_color);
}

#btn_cancel_comment {
    background-color: var(--primary_background_color);
    margin-right: 20px;
    border: 1px solid var(--secondary_color);
}

#btn_edit_comment {
    background-color: var(--select_btn);
    padding: 0 30px;
}

//title
#post_title_block {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#input_post_title {
    width: 100%;
    height: 30px;
    text-align: left;
    padding-top: 5px;
    padding-right: 55px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: 1px solid var(--secondary_color);
    // border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
}

#character_count {
    position: relative;
    bottom: 22px;
    right: 5px;
    align-self: flex-end;
    font-size: 11px;
    font-weight: 400;
    color: var(--icon);
}