
#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header_size);
    background-color: var(--header);
    z-index: 100;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
}

a {
    color: var(--secondary_color) !important;
}

#header > :first-child {
    // margin-left: 40px;
}

#header > :last-child {
    // margin-right: 40px;
}

#main_logo_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 40px;
    margin-left: var(--margin_home);
}

#main_logo_block:hover {
    cursor: pointer;
}

#main_logo_block > :nth-child(2) {
    font-size: 30px;
}

#main_logo {
    width: 30px;
    height: 30px;
    // margin-right: 5px;
    position: relative;
    top: 2px;
    left: 5px;
}

#search_block {
    width: 40%;
    height: 36px;
    position: absolute;
    left: calc(30vw + 20px);
}

.search_box {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    color: var(--icon);
    background-color: var(--search);
    // background-image: url("../../../../assets/icon/search.png");
    // background-size: 20px 20px;
    // background-position: 15px 8px; 
    // background-repeat: no-repeat;
    padding: 12px 20px 12px 44px;
    // padding: 12px 20px 12px 10px;
}

.search_box:focus {
    background-color: var(--search);
    box-shadow: var(--box_shadow);
}

.search_box:not(:focus-within) {
    background-color: var(--search);
    border-radius: 20px;
    box-shadow: none;
    height: 36px;
    border: none;
    // background-position: 15px 8px; 
}

.search_box:hover {
    background-color: var(--search);
}

#search_block > i {
    position: absolute;
    top: 10px;
    left: 18px;
}

.box_search {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(var(--header_size) - 6px);
    border-bottom: 1px solid var(--border);
    box-shadow: var(--box_shadow);
    background-position: 15px 12px; 
}

#search_block:not(:focus-within) #search_result_list {
    display: none;
}

#search_block:not(:focus-within) i {
    top: 10px !important;
}

#search_result_list {
    display: block;
    width: 100%;
    height: auto;
    max-height: 365px;
    position: relative;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: var(--box_shadow);
    background-color: var(--search);
}

#btn_search {
    padding: 15px 20px;
    width: auto;
    border-top: 1px solid var(--light_border);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--search);
}

#btn_search > i {
    margin-right: 10px;
}

#btn_search > p {
    width: auto;
}

#btn_search:hover {
    background-color: var(--primary_background_color);
}

::-webkit-scrollbar-track {
    background: var(--primary_background_color); 
  }

.communities_id {
    background-color: var(--search);
    height: auto;
    width: 100%;
    padding-left: 10px;
    padding: 10px;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--icon);
}


.community_name {
    font-size: 16px;
    font-weight: 500;
}

.member_count {
    font-size: 14px;
}

.search_result_link {
    background-color: var(--search);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.search_result_link:hover {
    background-color: var(--primary_background_color);
}

#signin_signup_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 40px;
    font-size: 20px;
}

#signin_signup_block > a {
    width: auto;
    padding: 4px 10px;
    border-radius: 20px;
    background-color: transparent;
}

#signin_signup_block > a:hover {
    background-color: var(--search);
}

#logged_in_block {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logged_in_block > .seach_result_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#btn_profile {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--primary_background_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_profile:hover {
    background-color: var(--search) !important;
}

#user_logo, .seach_result_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#signin_signup_block, #logged_in_block, #logged_in_block > :first-child {
    margin-right: var(--margin_home);
}

.seach_result_icon {
    margin-left: 20px;
    margin-right: 10px;
}

#menu {
    height: auto;
    width: 210px;
    position: absolute;
    background-color: var(--primary_background_color);
    top: 50px;
    right: 15px;
    box-shadow: var(--menu_box_shadow);
    border: 1px solid var(--search);
    border-radius: 10px;
    z-index: 999;
}

#menu > p {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: var(--secondary_color);
    padding: 15px 0 10px 0;
}

// #btn_1 {
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
// }

#btn_3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn_profile_menu {
    width: 100%;
    height: 50px;
    text-align: start;
    padding-left: 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    background-color: var(--primary_background_color);
    color: var(--secondary_color) !important;
}

.btn_profile_menu:hover {
    background-color: var(--search);
}

.btn_profile_menu i {
    margin-right: 10px;
    font-size: 20px;
}

#btn_create_post {
    width: auto;
    height: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    border-radius: 20px;
    color: var(--secondary_color) !important;
}

#btn_create_post:hover {
    background-color: var(--search);
}

#btn_create_post > i {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

#main_logo_block > button {
    background-color: transparent;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1/1;
    margin-right: 10px;
    display: none;
}

#icon_open_nav {
    font-size: 25px;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon);
}

#icon_open_nav:hover {
    background-color: var(--search);
}

@media only screen and (max-width: 1200px) {
    #search_block {
        position: relative;
        left: 0;
    }

    #txt_name {
        display: none;
    }

    #main_logo {
        margin-right: 15px;
    }

    #btn_create_post {
        margin-left: 10px;
    }

    #main_logo_block > button {
        display: block;
    }
}


::-webkit-scrollbar-track {
    background: var(--search); 
  }

