
<header id="header">
    <div id="main_logo_block" img>
        <a href="/home"><img id="main_logo" src="assets/icon/logo.png" alt="logo"/></a>
        <a href="/home">TRXYZNG</a>
    </div>

    <div id="search_block">
        <input id="search_box" type="text" placeholder="search" #input (input)="onChange(input.value)"/>
        <div id="search_result_list">
            <p class="communities_id" [ngStyle]="{'display': communities_result.length > 0 ? 'block':'none'}">Communities</p>
            <a class="search_result_link" routerLink="/{{i.name}}" *ngFor="let i of communities_result">
                <img class="seach_result_icon" src={{i.icon_base64}}/>
                <div>
                    <p id="community_name">r/{{i.name}}</p>
                    <p id="member_count">{{i.subscriber_count}} members</p>
                </div>
            </a>
            <p class="communities_id" [ngStyle]="{'display': user_profile_result.length > 0 ? 'block':'none'}">People</p>
            <a class="search_result_link" routerLink="/{{i.name}}" *ngFor="let i of user_profile_result">
                <img class="seach_result_icon" src={{i.icon_base64}}/>
                <div>
                    <p id="community_name">r/{{i.name}}</p>
                    <p id="member_count">{{i.karma}} members</p>
                </div>
            </a>
        </div>
    </div>

    <div id="signin_signup_block" [ngStyle]="{'display': isSignIn === true ? 'none':'flex'}">
        <a routerLink="/signin" title="login">login</a>
        <a routerLink="/signup" title="register">register</a>
    </div>

    <div id="logged_in_block" [ngStyle]="{'display': isSignIn === true ? 'flex':'none'}">
        <button type="button"><img id="user_logo" src="../../../../assets/icon/helldiver.jpg" title="open profile menu" (click)="onClick()"/></button>
        <button type="button"><img id="user_logo" src="../../../../assets/icon/helldiver.jpg" title="open profile menu" (click)="onClick()"/></button>
    </div>
</header> 
