<div id="main">
<!-- <app-header-bar></app-header-bar> -->
<div id="container">
<back-button></back-button>
<h2 style="color: var(--icon); margin-bottom: 10px; margin-top: 20px;">Create a post</h2>
<!-- <hr> -->
<div id="form">
    <div id="selected_community_block" *ngIf="!isShowSearchCommunity">
        <div id="selected_community_icon">
            <img [src]="selected_community.avatar">
        </div>
        <button id="btn_selected_community" (click)="openSearchCommunity()">{{selected_community.name}}</button>
        <button id="btn_search_community_dropdown" type="button"><span class="pi pi-chevron-down" style="color: var(--icon);" (click)="onDropDownSearchClick($event)"></span></button>
    </div>
    <div id="search_community_block" *ngIf="isShowSearchCommunity">
        <div id="search_community_icon">
            <img src="{{avatar}}" />
        </div>
        <input id="input_search_community" *ngIf="isShowSearchCommunity" type="text" placeholder="Search communities" (focus)="onInputSearchComunityFocus($event)" #input_community (input)="searchCommunities(input_community.value)" [value]="this.community"/>
        <button id="btn_search_community_dropdown" type="button"><span class="pi pi-chevron-down" style="color: var(--icon);" (click)="onDropDownSearchClick($event)"></span></button>
        <div id="search_community_result_block" [ngStyle]="{'display': isCommunitySearchDropdownOpen ? 'flex':'none'}">
            <button class="btn_select_community" type="button" *ngFor="let community of communities" (click)="selectCommunity(community)">
                <img src="{{community.avatar}}"/>
                <div>
                    <p id="community_name">r/{{community.name}}</p>
                    <p style="color: var(--txt); font-size: 13px;">{{community.subscriber_count}} members</p>
                </div>
            </button>
        </div>
    </div>
    <div id="post_type_block">
        <button class="btn_post_type" type="button" (click)="isPostOpen=true;isPostImageOpen=false;isPostLinkOpen=false;isPostVideoOpen=false" [ngClass]="{'btn_post_type_selected': isPostOpen}">Post</button>
        <button class="btn_post_type" type="button" (click)="isPostOpen=false;isPostImageOpen=true;isPostLinkOpen=false;isPostVideoOpen=false" [ngClass]="{'btn_post_type_selected': isPostImageOpen}">Image</button>
        <button class="btn_post_type" type="button" (click)="isPostOpen=false;isPostImageOpen=false;isPostLinkOpen=false;isPostVideoOpen=true" [ngClass]="{'btn_post_type_selected': isPostVideoOpen}">Video</button>
        <button id="btn_select_last" class="btn_post_type" type="button" (click)="isPostOpen=false;isPostImageOpen=false;isPostLinkOpen=true;isPostVideoOpen=false" [ngClass]="{'btn_post_type_selected': isPostLinkOpen}">Link</button>
    </div>
    <div id="post_title_block">
        <textarea id="input_post_title" maxlength="300" required placeholder="Title (required)" (input)="inputTitle($event)"></textarea>
        <span id="character_count">{{characterCount}}/300</span>
    </div>
    <div id="post_content_block">
        <div id="post_post_block" [ngStyle]="{'display': isPostOpen ? 'block':'none'}">
            <editor 
                [init]="editorSettings"
                (onSelectionChange)="onContentChanged($event)"
            >  
            </editor>

            <button class="btn_create_post" type="button" (click)="createPost('editor', this.editorContent)" [disabled]="editorAllowed">Post</button>
        </div>
        <div id="post_img_block" 
            [ngStyle]="{'display': isPostImageOpen ? 'flex':'none'}"
            (dragover)="onDragEnter($event)" 
            (drop)="onDrop($event)" 
            (dragenter)="onDragEnter($event)" 
            (dragleave)="onDragLeave($event)"
            >
            <div id="upload_img_block" [ngStyle]="{'justify-content': imgArr.length > 0 ? 'flex-start' : 'center'}">
                <pre style="color: var(--icon);" [ngStyle]="{'display': imgArr.length > 0 ? 'none': 'block'}">  Drag and drop image or click the button </pre>
                <div id="img_uploaded_result">
                    <app-img-uploaded *ngFor="let i of imgArr; index as index" 
                        [img]="i.data" 
                        [id]="index" 
                        [selected_id]="selected_id"
                        [arr]="imgArr"
                        (deleteImgOutput)="deleteImg($event)" 
                        (selectImgOutput)="selectImg($event)"
                    >
                    </app-img-uploaded>
                    <input id="input_upload_img" type="file" accept="image/*" (change)="upLoadImg($event)" #input_img>
                    <button id="btn_upload_img" type="button" (click)="input_img.click()"><img style="width: 50px; height: 50px" src="../../assets/icon/upload.png"/></button>
                </div>
            </div>
            <app-img-caption [img]="img" [ngStyle]="{'display': isImgUpload ? 'block' : 'none'}" (imgOutput)="onInputChange($event)"></app-img-caption>
            <button class="btn_create_post" id="btn_create_post_img" type="button" (click)="createImgPost('img', this.imgArr)" [disabled]="imgAllowed">Post</button>
        </div>
        <div id="post_video_block" [ngStyle]="{'display': isPostVideoOpen ? 'flex' : 'none', 'background-color': videoContent.length == 0 ? 'var(--primary_background_color)':'transparent'}">
                <input id="input_upload_video" type="file" accept=".mp4, .mov, .wmv, .WebM" (change)="onVideoUpload($event)" #input_video>
                <p style="margin-right: 10px; color: var(--icon);" [ngStyle]="{'display': videoContent.length == 0 ? 'block':'none' }">Click button to upload video</p>
                <button id="btn_upload_video" type="button" (click)="input_video.click()" [ngStyle]="{'display': videoContent.length == 0 ? 'block':'none' }"><img style="width: 50px; height: 50px" src="../../assets/icon/upload.png"/></button>
                <div id="video_block" [ngStyle]="{'display': videoContent.length > 0 ? 'block':'none' }">
                    <video src="{{videoContent}}" preload="none" poster="" controls="true" disablepictureinpicture="true" style="align-self: flex-start;"></video>
                    <button id="btn_delete_video" type="button" (click)="deleteVideo()" title="Delete video"><i class="pi pi-trash" style="color: var(--icon);"></i></button>
                </div>
        </div>
        <button id="btn_create_post_video" type="button" (click)="createVideoPost('video', this.videoContent)" [disabled]="videoAllowed" [ngStyle]="{'display': isPostVideoOpen ? 'block' : 'none'}">Post</button>
        <div id="post_link_block" [ngStyle]="{'display': isPostLinkOpen ? 'block' : 'none'}">
            <textarea style="border: 1px solid var(--icon);" (input)="inputLink($event)" placeholder="Enter a full link start with http or https"></textarea>
            <p style="font-size: 13px; color: red; margin-top: 3px;" *ngIf="linkAllowed && linkContent.length != 0">Incorrect link</p>
            <p style="font-size: 13px; color: green; margin-top: 3px;" *ngIf="!linkAllowed">Valid link</p>
            <button id="btn_create_post_link" type="button" (click)="createLinkPost('link', this.linkContent)" [disabled]="linkAllowed">Post</button>
        </div>
    </div>

</div>

</div>
</div>

<loading [txt_load]="'Create new post. Please wait'" *ngIf="isLoad"></loading>

<div id="community_info_block" *ngIf="selected_community.id != 0">
    <community-info [community_info]="selected_community"></community-info>
</div>
