<div id="main">


<app-header-bar></app-header-bar>
<div id="container">
<h2>Create a post</h2>
<hr>
<div id="form">
    <div id="search_community_block">
        <div id="search_community_icon">
            <img src="{{avatar}}" />
        </div>
        <input id="input_search_community" type="text" placeholder="Search communities" (focus)="onInputSearchComunityFocus($event)" #input_community (input)="searchCommunities(input_community.value)" [value]="this.community"/>
        <button id="btn_search_community_dropdown" type="button"><span class="pi pi-chevron-down" (click)="onDropDownSearchClick($event)"></span></button>
        <div id="search_community_result_block" [ngStyle]="{'display': isCommunitySearchDropdownOpen ? 'flex':'none'}">
            <button type="button" *ngFor="let community of communities" (click)="selectCommunity(community)">
                <img src="{{community.avatar}}"/>
                <div>
                    <p id="community_name">r/{{community.name}}</p>
                    <p id="member_count">{{community.subscriber_count}} members</p>
                </div>
            </button>
        </div>
    </div>
    <div id="post_type_block">
        <button class="btn_post_type" type="button" (click)="isPostOpen=true;isPostImageOpen=false;isPostLinkOpen=false" [ngClass]="{'btn_post_type_selected': isPostOpen}">Post</button>
        <button class="btn_post_type" type="button" (click)="isPostOpen=false;isPostImageOpen=true;isPostLinkOpen=false" [ngClass]="{'btn_post_type_selected': isPostImageOpen}">Image and video</button>
        <button class="btn_post_type" type="button" (click)="isPostOpen=false;isPostImageOpen=false;isPostLinkOpen=true" [ngClass]="{'btn_post_type_selected': isPostLinkOpen}">Link</button>
    </div>
    <div id="post_title_block">
        <textarea id="input_post_title" maxlength="300" required placeholder="Title" (input)="inputTitle($event)"></textarea>
        <span id="character_count">{{characterCount}}/300</span>
    </div>
    <div id="post_content_block">
        <div id="post_post_block" [ngStyle]="{'display': isPostOpen ? 'block':'none'}">
            <editor 
                [init]="editorSettings"
                (onSelectionChange)="onContentChanged($event)"
            >  
            </editor>

            <button class="btn_create_post" type="button" (click)="createPost('editor', this.editorContent)" [disabled]="editorAllowed">Post</button>
        </div>
        <div id="post_img_block" 
            [ngStyle]="{'display': isPostImageOpen ? 'flex':'none'}"
            (dragover)="onDragEnter($event)" 
            (drop)="onDrop($event)" 
            (dragenter)="onDragEnter($event)" 
            (dragleave)="onDragLeave($event)"
            >
            <div id="upload_img_block" [ngStyle]="{'justify-content': imgArr.length > 0 ? 'flex-start' : 'center'}">
                <pre id="txt_drag_and_drop" [ngStyle]="{'display': imgArr.length > 0 ? 'none': 'block'}">  Drag and drop image or click the button </pre>
                <div id="img_uploaded_result">
                    <app-img-uploaded *ngFor="let i of imgArr; index as index" 
                        [img]="i.data" 
                        [id]="index" 
                        [selected_id]="selected_id"
                        [arr]="imgArr"
                        (deleteImgOutput)="deleteImg($event)" 
                        (selectImgOutput)="selectImg($event)"
                    >
                    </app-img-uploaded>
                    <input id="input_upload_img" type="file" accept="image/*" (change)="upLoadImg($event)" #input_img>
                    <button id="btn_upload_img" type="button" (click)="input_img.click()"><img style="width: 50px; height: 50px" src="../../assets/icon/upload.png"/></button>
                </div>
            </div>
            <app-img-caption [img]="img" [ngStyle]="{'display': isImgUpload ? 'block' : 'none'}" (imgOutput)="onInputChange($event)"></app-img-caption>
            <button class="btn_create_post" id="btn_create_post_img" type="button" (click)="createImgPost('img', this.imgArr)" [disabled]="imgAllowed">Post</button>
        </div>
        <div id="post_link_block" [ngStyle]="{'display': isPostLinkOpen ? 'block' : 'none'}">
            <textarea (input)="inputLink($event)" placeholder="Enter a full link start with http or https"></textarea>
            <button id="btn_create_post_link" type="button" (click)="createLinkPost('link', this.linkContent)" [disabled]="linkAllowed">Post</button>
        </div>
    </div>

</div>

</div>
<div id="load_container" *ngIf="isLoad">
    <div id="load_block">
        <div class="loader"></div>
        <b style="padding-top: 10px;font-size: 20px;">Create new post. Please wait...</b>
    </div>
</div>
</div>

