:host {
    display: block;
    width: 100%;
    height: 100%;
}

#main {
    // position: fixed;
    width: calc(100%);
    // left: 6vw;
    height: 100%;
    background-color: var(--primary_background_color);
    --input_height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

app-header-bar {
    position: absolute;
    top: 0;
    left: 0;
}

#container {
    position: relative;
    top: 20px;
    width: 100%;
    min-width: 450px;
    // max-width: 700px;
    background-color: var(--primary_background_color);
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary_color) !important;
}

#form {
    width: calc(100% - 380px);
    background-color: var(--primary_background_color);
    display: flex;
    min-width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    height: auto;
    // border: 2px solid var(--icon);
}

#form > * {
    margin-bottom: 20px;
}

div.tox-menubar {
    display: none;
}

hr {
    border: 1px solid var(--secondary_color);
}

#search_community_block, #selected_community_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: var(--input_height);
    position: relative;
}

#search_community_icon, #selected_community_icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--search);
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

#search_community_icon img, #selected_community_icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#input_search_community, #btn_selected_community {
    width: 40%;
    height: 100%;
    background-color: var(--search);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    font-size: 16px;
    color: var(--icon);
    padding-left: 10px;
}

#btn_selected_community {
    width: auto;
    border-left: 0;
    text-align: start;
    padding: 0 10px;
}

#input_search_community:focus {
    outline: none;
}

#btn_search_community_dropdown {
    width: 30px;
    height: 100%;
    background-color: var(--search);
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
}

#search_community_result_block {
    width: calc(40% + 30px - 5px);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    left: 18px;
    box-sizing: border-box;
    // border: 1px solid var(--icon);
    box-shadow: var(--search_communities_shadow);
}

#search_community_result_block * {
    color: var(--icon);
}

#search_community_result_block > * {
    width: 100%;
    height: 50px;
    padding: 10px 5px;
    background-color: var(--search);
    z-index: 100;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search_community_result_block img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#search_community_result_block > *:hover {
    background-color: var(--nav_hover);
}

#post_type_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn_post_type {
    width: 33.33%;
    height: 50px;
    // border-top: 1px solid var(--icon);
    // border-bottom: 1px solid var(--icon);
    box-sizing: border-box;
    background-color: var(--primary_background_color);
    color: var(--icon);
    font-size: 16px;
    font-weight: 600;
}

.btn_post_type:hover {
    background-color: var(--bg_hover);
}

.btn_post_type_selected {
    border-bottom: 3px solid var(--icon);
}

#post_title_block {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#input_post_title {
    width: 100%;
    height: 30px;
    text-align: left;
    padding-top: 5px;
    padding-right: 55px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: 1px solid var(--icon);
    // border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    margin-bottom: 10px;
}

#character_count {
    position: relative;
    bottom: 34px;
    right: 7px;
    align-self: flex-end;
    font-size: 11px;
    font-weight: 400;
    color: var(--icon) !important;
}

#post_content_block {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 15px;
    align-self: center;
    box-sizing: border-box;
}

#post_post_block {
    height: auto;
    width: 100%;
}

#post_img_block {
    height: auto;
    min-height: 20vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_background_color);
    border: 1px solid var(--secondary_color);
}

#post_img_block > *:not(button) {
    width: 100%;
    height: 100%;
}

#upload_img_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    margin-bottom: 0;
    background-color: var(--primary_background_color);
}

#img_uploaded_result {
    white-space: nowrap;
    overflow-x: auto;
}

#input_upload_img {
    width: 0px;
    height: 0px;
    display: none;
}

#btn_upload_img {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: var(--search);
    border: 2px dashed var(--icon);
    border-radius: 5px;
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#post_video_block {
    min-height: 25vh;
    height: auto;
    width: 100%;
    background-color: var(--primary_background_color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary_color);
}

#input_upload_video {
    width: 0px;
    height: 0px;
    display: none;
}

#video_block {
    position: relative;
    width: 100%;
}

video {
    width: 100%;
    height: 35vh;
    min-height: 350px;
    background-color: #000000;
}

#btn_upload_video {
    width: 100px;
    height: 100px;
    background-color: var(--search);
    border: 2px dashed var(--icon);
    border-radius: 5px;
}

#btn_delete_video {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

#btn_delete_video:hover {
    background-color: var(--bg_hover);
}

#btn_delete_video > i {
    font-size: 1.5rem;
    color: var(--primary_background_color);
}

#post_link_block {
    height: auto;
    width: 100%;
}

#post_link_block > textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid var(--border);
    overflow: hidden;
}

.btn_create_post {
    width: auto;
    height: 30px;
    padding: 7px 20px;
    // border: 1px solid var(--secondary_color);
    border-radius: 20px;
    font-weight: 500;
    position: absolute;
    bottom: -60px;
    right: 0px;
}

#btn_create_post_img {
    bottom: -50px;
}

#btn_create_post_link {
    width: auto;
    height: 30px;
    padding: 0 20px;
    // border: 1px solid var(--secondary_color);
    border-radius: 20px;
    font-weight: 500;
    position: relative;
    top: 30px;
    left: calc(100% - 70px);
}

#btn_create_post_video {
    width: auto;
    height: 30px;
    padding: 0 20px;
    // border: 1px solid var(--secondary_color);
    border-radius: 20px;
    font-weight: 500;
    position: relative;
    left: calc(100% - 70px);
    top: 40px;
}

.btn_create_post, #btn_create_post_link, #btn_create_post_video {
    background-color: var(--post_btn);
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    #main {
        margin-left: 50px;
        width: calc(100% - 50px);
    }
}

@media only screen and (max-width: 850px) {
    #community_info_block {
        display: none;
    }
}


#community_info_block {
    position: fixed;
    height: calc(100vh - var(--header_size));
    top: calc(var(--header_size) + 10px);
    overflow: auto;
    width: 300px;
    right: 40px;
}
