:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_logo {
    width: 60px;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

#container {
    width: 400px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 35px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

input:focus {
    border: 2px solid black;
}

button {
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: var(--main_color);
    margin-top: 20px;
    color: black;
}