<img id="main_logo" src="assets/icon/logo.png" alt="logo"/>
<div id="container">
    <b><h2><label for="username">Choose your username</label></h2></b>
    <input id="username" type="text" maxlength="16" [value]="username" (input)="checkUserName($event)"/>
    <div style="width: 250px;">
        <p style="font-size: 12px; text-align: left;" [ngStyle]="{'color': isUsernameAllow ? 'green' : 'red'}">Must be between 3 and 16 characters, including a-z, A-Z, 0-9</p>
        <p style="font-size: 13px; color: red; text-align: left;" *ngIf="isUsernameTaken && username.length != 0">Username already exist</p>
    </div>
    <button type="button" (click)="selectUsername()" [disabled]="!isUsernameAllow && isUsernameTaken">Choose</button>
</div>

<loading [txt_load]="'Selecting username. Please wait'" *ngIf="isLoad"></loading>
