<div id="passcode_container">
    <img id="main_logo" src="assets/icon/logo.png" alt="logo"/>
    <form [formGroup]="PasscodeForm" (ngSubmit)="onSubmit()">
        <back-button></back-button>
        <p style="font-size: 16px;">A pass-code had been sent to the email address:</p>
        <b>{{email}}</b>
        <label id="lbl_passcode" for="input_passcode" style="margin-top: 20px;">Enter passcode</label>
        <input id="input_passcode" name="passcode" type="text" formControlName="passcode" maxlength="6" required>
        <button type="submit" id="btn_submit" [disabled]="PasscodeForm.status === 'INVALID'">Check passcode</button>
        <div id="div_resend">
            <p>Passcode expried?</p>
            <button id="btn_resend_passcode" type="button" (click)="reSendPasscode()" [disabled]="resend_count > 0">Re-send<p style="display: inline;" *ngIf="resend_count > 0">({{resend_count}}s)</p></button>
        </div>
    </form>
</div>

<loading [txt_load]="'Verifying passcode. Please wait'" *ngIf="isLoad"></loading>
<loading [txt_load]="'Sending new passcode. Please wait'" *ngIf="isResendPasscode"></loading>
