<nav id="community_bar">
<div id="community_block">
    <back-button></back-button>
    <a id="community_link" href="/r/{{postData.community_id}}">
        <img id="community_icon" src="{{postData.community_icon}}" alt="community_icon"/>
    </a>
    <div id="link_date_block"> 
        <span id="community_name" style="font-weight: bold; color: var(--icon);" (click)="navigateToCommunity()">r/{{postData.community_name}} </span>
        <i style="font-weight: bold;">·</i>
        <span style="font-size: 13px; color: var(--txt);"> {{dateTimeService.getTimeByCompareCreatedAtAndCurrentDate(postData.created_at)}}</span>
    </div>
    <a id="username" href="/user/{{postData.username}}" style="font-size: 15px;">{{postData.username}}</a>
    <button id="btn_delete" *ngIf="true" (click)="deletePost()"><i class="pi pi-trash"></i><pre> Delete</pre></button>
</div>
</nav>

<div id="edit_block">
    <app-edit-editor-post *ngIf="post_type === 'editor'"></app-edit-editor-post>
    <app-edit-img-post *ngIf="post_type === 'img'"></app-edit-img-post>
    <app-edit-link-post *ngIf="post_type === 'link'"></app-edit-link-post>
    <app-edit-video-view *ngIf="post_type === 'video'"></app-edit-video-view>
</div>
