
:host {
    --community_icon: 35px;
}

#community_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: var(--post-header-height);
    position: relative;
}

#community_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#community_link {
    margin-left: 10px;
}

#community_block > *, #community_link > * {
    margin-right: 5px;
}

#link_date_block {
    align-self: flex-start;

}

#community_link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#community_icon {
    width: var(--community_icon);
    height: var(--community_icon);
    border-radius: 50%;
}

#community_name:hover {
    cursor: pointer;
}

#username {
    position: absolute;
    top: 15px;
    left: 95px;
}

#btn_delete {
    height: 100%;
    position: absolute;
    width: auto;
    right: 0;
    border-radius: 10px;
    padding: 0 10px;
    background-color: var(--delete);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--secondary_color);
}

#btn_delete:hover {
    background-color: var(--neutral);
}

#edit_block {
    margin-top: 20px;
}

//edit button
#btn_comment_block {
    padding-top: 20px;
    padding-bottom: 50px;
}

#btn_comment_block > button {
    width: var(--btn_width);
    height: var(--btn_height);
    border-radius: 5px;
    font-size: large;
}

#btn_cancel_comment {
    background-color: rgb(169, 190, 190);
    margin-right: 20px;
}

#btn_edit_comment {
    background-color: rgb(39, 71, 167);
}