
<img id="main_logo" src="assets/icon/logo.png" alt="logo"/>

<h2>Change password</h2>
<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
    <label id="lblNewPassowrd" for="inputNewPassword">Enter your new password</label>
    <input id="inputNewPassword" type="password" formControlName="newPassword" required>
    <label id="lblRecheck" for="inputRecheck">Re-enter the new password</label>
    <input id="inputRecheck" type="password" formControlName="reCheck" required>
    <button id="btnChangePassword" type="submit" [disabled]="ChangePasswordForm.status === 'INVALID'">Change password</button>
</form>
