
<img id="main_logo" src="assets/icon/logo.png" alt="logo"/>

<p>Change password</p>
<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
    <label id="lblNewPassowrd" for="inputNewPassword">Enter your new password</label>
    <input id="inputNewPassword" type="text" formControlName="newPassword" required>
    <label id="lblRecheck" for="inputRecheck">Re-enter the new password</label>
    <input id="inputRecheck" type="text" formControlName="reCheck" required>
    <button id="btnChangePassword" type="submit">Change password</button>
</form>
