<div id="changepass_container">
    <img id="main_logo" src="assets/icon/logo.png" alt="logo"/>
    <h2>Change password</h2>
    <form (ngSubmit)="onSubmit()">
        <label id="lblNewPassowrd" for="inputNewPassword">Enter your new password</label>
        <input id="inputNewPassword" style="margin-bottom: 0;" type="password" autocomplete="off" (input)="inputPassword($event)" required>
        <p id="password_ok" style="font-size: 13px;margin-left: 13px;margin-top: 3px;" [ngClass]="password_status ? 'password_ok' : 'password_not_ok'">Contain a-z A-Z 0-9 symbol, 8 to 20 characters</p>
        <label id="lblRecheck" for="inputRecheck">Re-enter the new password</label>
        <input id="inputRecheck" type="password" autocomplete="off" (input)="inputRecheck($event)" required>
        <button id="btnChangePassword" type="submit" [disabled]="!allowSubmit">Change password</button>
    </form>
</div>

<loading [txt_load]="'Changing password. Please wait'" *ngIf="isLoad"></loading>
