
#container {
    width: 40vw;
    height: auto;
    background-color: rgb(96, 96, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

label {
    align-self: flex-start;
    margin-bottom: 10px;
}

input, textarea {
    margin-bottom: 20px;
}

#input_username {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    font-size: 16px;
}

//description
#post_title_block {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#input_post_title {
    width: 100%;
    height: 48px;
    text-align: left;
    padding-top: 5px;
    padding-right: 55px;
    padding-bottom: 8px;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
}

#character_count {
    position: relative;
    bottom: 42px;
    right: 5px;
    align-self: flex-end;
    font-size: 11px;
    font-weight: 400;
}

#img_avatar {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
}

//upload img
#input_upload_img, #input_upload_banner {
    width: 0px;
    height: 0px;
    display: none;
}

#btn_upload_img {
    width: 200px;
    height: 40px;
    text-align: center;
    display: inline-block;
    background-color: rgb(168, 136, 244);
    border: 2px solid black;
    border-radius: 5px;
    vertical-align: bottom;
    margin: 10px 0;
    margin-bottom: 30px;
}

#btn_block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.btn_submit {
    width: auto;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.btn_submit:first-child {
    margin-right: 10px;
    background-color: red;
}

.btn_submit:last-child {
    background-color: green;
}