
//sort
#sort_container {
    position: relative;
    width: 100px;
    height: auto;
    align-self:flex-start;
}

b {
    color: var(--icon);
}

#btn_sort {
    width: auto;
    height: 30px;
    padding: 0 20px;
    background-color: var(--primary_background_color);
    border-radius: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    margin-bottom: 10px;
    color: var(--txt) !important;
}

#btn_sort:hover {
    background-color: var(--bg_hover) !important;
}

#btn_sort > i {
    margin-left: 10px;
    font-size: 12px;
}

#sort_option_block {
    width: 140px;
    height: auto;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 999;
    box-shadow: var(--menu_box_shadow);
}

#sort_option_block > button {
    height: 40px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    background-color: var(--primary_background_color);
    font-weight: 500;
    color: var(--icon);
}

#sort_option_block > button:hover {
    background-color: var(--bg_hover) !important;
}

#sort_option_block > b {
    display: block;
    height: 40px;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--primary_background_color);

}

#community_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

//empty
#empty_block {
    width: 100%;
    height: auto;
    background-color: var(--neutral);
    text-align: center;
    font-size: 20px;
    padding: 25vh 10px;
}

#empty_block > a {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--primary_background_color);
    position: relative;
    top: 30px;
    color: var(--secondary_color) !important;
    box-shadow: var(--menu_box_shadow);
}


#reload_block {
    width: auto;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top: 10px;
    // left: 31%;
    z-index: 999;
    border-radius: 20px;
    // box-shadow: var(--menu_box_shadow);
}

#btn_reload {
    width: auto;
    height: 100%;
    border-radius: 20px;
    background-color: var(--allow);
    color: white;
    padding: 8px 30px;
    font-size: 16px;
    box-shadow: var(--menu_box_shadow);
    text-align: center;
}

#btn_close {
    height: 100%;
    width: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--join);
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: Arial;
    text-align: left;
}