<!-- <div [innerHTML]="trustedHtml"></div> -->

<app-post-link *ngFor="let post of post_result; let index = index;" 
                    [post_id]="post.post_id"
                    [type]="post.type"
                    [communityName]="post.community_name"
                    [userName]="post.username"
                    [title]="post.title"
                    [content]="post.content"
                    [created_at]="post.created_at"
                    [vote]="post.vote"
                    [communityIcon]="post.community_icon"
                    [index]="index"
                    [arr_length]="post_result.length"
                    (event)="addPost($event)"
>
</app-post-link>
