<img id="main_logo" src="assets/icon/logo.png" alt="logo"/>
<div id="confirm_container">
    <form [formGroup]="confirmEmailPasscodeForm" (ngSubmit)="confirmEmailPasscodeFormSubmit()">
        <h2>Thanks for signing up</h2>
        <p>A 6-digits pass-code had been send to the email address:</p>
        <b>{{email}}</b>
        <label id="lbl_passcode" for="input_passcode">Enter pass-code</label>
        <input id="input_passcode" name="passcode" type="text" [maxLength]="6" formControlName="passcode" required>
        <button type="submit" id="btn_submit" [disabled]="confirmEmailPasscodeForm.status === 'INVALID'">Check passcode</button>
    </form>
    
    <div id="div_resend">
        <p>Problem with passcode?</p>
        <button id="btn_resend_passcode" type="button" (click)="reSendPasscode()" [disabled]="resend_count > 0">Re-send <p style="display: inline;" *ngIf="resend_count > 0">({{resend_count}}s)</p></button>
    </div>
</div>

<loading [txt_load]="'Checking passcode. Please wait'" *ngIf="isLoad"></loading>
<loading [txt_load]="'Creating new passcode. Please wait'" *ngIf="isResendPasscode"></loading>

