
<div id="forgot_container">
    <img id="main_logo" src="assets/icon/logo.png" alt="logo"/>
    <h2>Forgot password</h2>
    <form [formGroup]="ForgotPasswordForm" (ngSubmit)="ForgotPasswordFormSubmit()">
        <label id="lbl_email" for="input_email">Enter your email address</label>
        <input id="input_email" type="text" formControlName="email" required>
        <!-- <p>Click the below button to send pass-code to your email</p> -->
        <button id="btnForgotPassword" type="submit">Send passcode</button>
    </form>
</div>
<div id="load_container" *ngIf="isLoad">
    <div id="load_block">
        <div class="loader"></div>
        <b style="padding-top: 10px;font-size: 20px;">Create new passcode. Please wait...</b>
    </div>
</div>