:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --signin_length: 300px;
}

:host > * {
    margin: 10px 0px;
}

#main_logo {
    width: 70px;
    height: 70px;
}

form {
    width: var(--signin_length);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px blue solid;
    border-radius: 5px;
    background-color: aliceblue;
}

form > * {
    margin: 10px 0px 0px 0px;
}

#input_email {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: 25px;
}

#input_email:focus {
    border: 1px solid black;
}

#btnForgotPassword {
    background-color: #92e596;
    font-size: medium;
    width: 140px;
    height: 30px;
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}
