:host {
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    --signin_length: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forgot_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 30px;
}

#forgot_container > * {
    margin: 10px 0px;
}

#main_logo {
    width: 60px;
    aspect-ratio: 1/1;
}

form {
    width: var(--signin_length);
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #ffffff;
}

form > * {
    margin: 10px 0px 0px 0px;
}

#input_email {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

#input_email:focus {
    border: 2px solid black;
}

#btnForgotPassword {
    background-color: var(--main_color);
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 5px 20px;
    border: 1px black solid;
    border-radius: 20px;
    margin-right: 15px;
    color: black;
}

#button_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

back-button {
    margin-left: 15px;
}