
<div id="forgot_container">
    <img id="main_logo" src="assets/icon/logo.png" alt="logo"/>
    <h2>Forgot password</h2>
    <form [formGroup]="ForgotPasswordForm" (ngSubmit)="ForgotPasswordFormSubmit()">
        <label id="lbl_email" for="input_email">Enter your email address</label>
        <input id="input_email" type="text" formControlName="email" required>
        <div id="button_container">
            <back-button></back-button>
            <button id="btnForgotPassword" type="submit" [disabled]="ForgotPasswordForm.status == 'INVALID'">Send passcode</button>
        </div>
    </form>
</div>

<loading [txt_load]="'Checking email address. Please wait'" *ngIf="isLoad"></loading>