

#comment_container {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    border-bottom: 1px solid black;
}

#comment_container:hover {
    background-color: var(--primary_background_color_hover);
    cursor: pointer;
}

.header {

}

.community_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.community_info > img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

.txt_community_name {
    font-size: 13px;
}

.text_post_name {
    font-size: 13px;
    margin-left: calc(30px + 10px);
}

.txt_username {
    font-size: 13px;
    margin-left: calc(30px + 10px);
}

.username_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
}

.content {
    margin-left: calc(30px + 10px);
    margin-top: 5px;
}