
<div id="header">
    <img src="{{userInfo.avatar}}">
    <div>
        <p id="txt_username">{{userInfo.username}}</p>
    </div>
</div>

<div id="btn_block">
    <button class="btn_option" type="button" [ngClass]="{'selected_btn': searchOption == 'posts'}" (click)="selectSearchOption('posts')">Posts</button>
    <button class="btn_option" type="button" [ngClass]="{'selected_btn': searchOption == 'comments'}" (click)="selectSearchOption('comments')">Comments</button>
    <button class="btn_option" type="button" *ngIf="isOwner" [ngClass]="{'selected_btn': searchOption == 'saved'}" (click)="selectSearchOption('saved')">Saved</button>
    <button class="btn_option" type="button" *ngIf="isOwner" [ngClass]="{'selected_btn': searchOption == 'wait_for_approve'}" (click)="selectSearchOption('wait_for_approve')">Wait for approve</button>
</div>

<div id="outlet">
    <router-outlet>
    </router-outlet>
</div>

<div id="info_block">
<user-info></user-info>
</div>