:host {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--primary_background_color);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    box-sizing: border-box;
}

#header, #btn_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#header {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: calc(2vw);
}

#header > img {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

#btn_block {
    margin-bottom: 30px;
    margin-left: calc(2vw);
}

.btn_option {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 30px;
    // border: 1px solid var(--icon);
    background-color: var(--primary_background_color);
    color: var(--icon);
    font-size: 16px;
    font-weight: 600;
}

.btn_option:hover {
    text-decoration: underline;
}

.selected_btn {
    background-color: var(--btn_selected);
    // border: 1px solid var(--icon);
}

#comment_container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

//btn sort for comments
#sort_container {
    position: relative;
    width: 100px;
    height: auto;
    align-self:flex-start;
}

#btn_sort {
    width: auto;
    height: 30px;
    padding: 0 10px;
    background-color: var(--primary_background_color);
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

#btn_sort:hover {
    background-color: var(--neutral);
}

#btn_sort > i {
    margin-left: 10px;
    font-size: 12px;
}

#sort_option_block {
    width: 110px;
    height: auto;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 999;
}

#sort_option_block > button {
    height: 40px;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    background-color: var(--primary_background_color);
    box-shadow: var(--menu_box_shadow);
}

#sort_option_block > button:hover {
    background-color: var(--neutral);
}

#sort_option_block > b {
    display: block;
    height: 40px;
    width: 100%;
    text-align: left;
    padding: 10px 10px;
    background-color: var(--neutral);
}

//app comment
app-comment {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

#empty_block {
    width: 100%;
    height: auto;
    background-color: var(--neutral);
    text-align: center;
    font-size: 40px;
    padding: 25vh 10px;
}

#outlet, #comment_container {
    width: calc(100% - 380px);
    margin-left: calc(2vw);
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#txt_username {
    font-size: 26px;
    font-weight: 600;
    color: var(--icon);
}

#info_block {
    position: fixed;
    height: calc(100vh - var(--header_size));
    top: calc(var(--header_size) + 10px);
    width: 300px;
    right: 40px;
    overflow: hidden;
    scrollbar-gutter: stable;
    background-clip: content-box;
    box-sizing: border-box;
}

#info_block:hover {
    overflow-y: auto;
}

@media only screen and (max-width: 850px) {
    #info_block {
        display: none;
        right: calc(var(--margin_home));
    }
    #outlet, #comment_container {
        width: calc(100% - 30px);
    }
}