
<div id="header">
    <img src="{{userInfo.avatar}}">
    <div>
        <h2>{{userInfo.username}}</h2>
    </div>
</div>

<div id="btn_block">
    <button type="button" [ngClass]="{'selected_btn': searchOption == 'posts'}" (click)="selectSearchOption('posts')">Posts</button>
    <button type="button" [ngClass]="{'selected_btn': searchOption == 'comments'}" (click)="selectSearchOption('comments')">Comments</button>
    <button type="button" *ngIf="isOwner" [ngClass]="{'selected_btn': searchOption == 'wait_for_approve'}" (click)="selectSearchOption('wait_for_approve')">Wait for approve</button>
</div>

<div id="sort_container" *ngIf="searchOption == 'comments'">
    <button id="btn_sort" (click)="showSortOption()">{{sort_option}}<i class="pi pi-chevron-down"></i></button>
    <div id="sort_option_block" *ngIf="isSortOptionShow">
        <b>Sort by</b>
        <button (click)="selectSort('New')">New</button>
        <button (click)="selectSort('Top today')">Top today</button>
        <button (click)="selectSort('Top this week')">Top this week</button>
        <button (click)="selectSort('Top this month')">Top this month</button>
        <button (click)="selectSort('Top this year')">Top this year</button>
        <button (click)="selectSort('Top all time')">Top all time</button>
    </div>
</div>

<app-post-link-list [ngStyle]="{'display': searchOption == 'posts' ? 'block' : 'none'}"></app-post-link-list>
<app-post-link-list [searchOption]="searchOption" [ngStyle]="{'display': searchOption == 'wait_for_approve' ? 'block' : 'none'}"></app-post-link-list>
<div id="comment_container" [ngStyle]="{'display': searchOption == 'comments' ? 'block' : 'none'}">
    <app-comment-view
        *ngFor="let comment of comments"
        [commentData]="comment"
    ></app-comment-view>
    <div *ngIf="comments.length == 0" style="width: 100%; padding: 50px 0; text-align: center;">This user has no comment</div>
</div>
