<hr>
<nav id="block" (click)="navigateToPostView()">
        <div id="post_block">
            <div id="info_lock" [ngStyle]="{'width': img.length != 0 ? '70%' : 'auto', 'height': img.length != 0 ? '100%' : 'auto'}">
                <div id="community_block">
                    <a (click)="navigateToCommunity($event)"><img src="{{post.community_icon}}"><p style="margin-left: 5px;">r/{{post.community_name}}</p><pre> · </pre><p>{{shownDate}}</p></a>
                </div>
                <h3 >{{post.title}}</h3>
                <div id="vote_block">
                    <p style="font-size: 14px;">{{presentationService.transformNumber(post.vote)}} votes</p>
                    <pre> · </pre>
                    <p style="font-size: 14px;">{{presentationService.transformNumber(comment_count)}} comments</p>
                </div>
            </div>
            <div id="img_block" *ngIf="img.length != 0">
                <img src="{{img}}">
            </div>
        </div>
</nav>





