<nav id="block" (click)="navigateToPostView()">
    <div id="post_block">
        <div id="info_lock" [ngStyle]="{'width': img.length != 0 ? '70%' : 'auto'}">
            <div id="community_block">
                <a (click)="navigateToCommunity($event)"><img src="{{post.community_icon}}"><p style="margin-left: 5px;">r/{{post.community_name}}</p><pre> · </pre><p style="color: var(--txt); font-size: 13px;">{{shownDate}}</p></a>
            </div>
            <div class="content_block">
                <p class="txt_title">{{post.title}}</p>
                <div id="vote_block">
                    <p style="font-size: 13px; color: var(--txt) !important;">{{presentationService.transformNumber(post.vote)}} votes</p>
                    <pre> · </pre>
                    <p style="font-size: 13px; color: var(--txt) !important;">{{presentationService.transformNumber(comment_count)}} comments</p>
                </div>
            </div>
        </div>
        <div id="img_block" *ngIf="img.length != 0">
            <img src="{{img}}">
        </div>
    </div>
</nav>





