#recent_visited_post_bar {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(243, 172, 230);
    overflow: hidden;
    scrollbar-gutter: stable;
    padding-right: calc(var(--scrollbar_size) - 1px);
    background-clip: content-box;
    box-sizing: border-box;
}

#recent_visited_post_bar:hover {
    overflow-y: auto;
}

a {
    display: block;
    padding: 10px 0;
}