<nav id="recent_visited_post_bar">
    <a href="/home"><span>Recent visit 1</span></a>
    <a href="/home"><span>Recent visit 1</span></a>
    <a href="/home"><span>Recent visit 1</span></a>
    <a href="/home"><span>Recent visit 1</span></a>
    <a href="/home"><span>Recent visit 2</span></a>
    <a href="/home"><span>Recent visit 2</span></a>
    <a href="/home"><span>Recent visit 2</span></a>
    <a href="/home"><span>Recent visit 2</span></a>
    <a href="/home"><span>Recent visit 3</span></a>
    <a href="/home"><span>Recent visit 3</span></a>
    <a href="/home"><span>Recent visit 3</span></a>
    <a href="/home"><span>Recent visit 3</span></a>
    <a href="/home"><span>Recent visit 3</span></a>
    <a href="/home"><span>Recent visit 4</span></a>
    <a href="/home"><span>Recent visit 4</span></a>
    <a href="/home"><span>Recent visit 4</span></a>
    <a href="/home"><span>Recent visit 4</span></a>
</nav>
