
<nav id="recent_visited_post_bar" *ngIf="posts.length != 0">
<div id="recent_post_info">
    <b id="txt_recent" style="color: var(--txt);">RECENT POSTS</b>
    <div style="height: 15px;width: 100%;"></div>
    <div class="block" *ngFor="let post of posts; let i=index">
        <div id="post_block">
            <div id="info_lock" [ngStyle]="{'width': img[i].length != 0 ? '70%' : 'auto', 'height': img[i].length != 0 ? '100%' : 'auto'}">
                <div id="community_block">
                    <a href="post/{{post.post_id}}"><img src="{{post.community_icon}}"><p style="margin-left: 5px; color: var(--txt);">r/{{post.community_name}}</p></a>
                </div>
                <a href="post/{{post.post_id}}"><p style="font-size: 14px; color: var(--txt); font-weight: 550;">{{post.title}}</p></a>
            </div>
            <div id="img_block" *ngIf="img[i].length != 0">
                <img src="{{img[i]}}">
            </div>
        </div>
        <div id="vote_block">
            <p class="txt_vote" *ngIf="post.vote == 1">{{presentationService.transformNumber(post.vote)}} upvote</p>
            <p class="txt_vote" *ngIf="post.vote > 1">{{presentationService.transformNumber(post.vote)}} upvotes</p>
            <p class="txt_vote" *ngIf="post.vote == 0">{{presentationService.transformNumber(post.vote)}} vote</p>
            <p class="txt_vote" *ngIf="post.vote == -1">{{presentationService.transformNumber(post.vote)}} downvote</p>
            <p class="txt_vote" *ngIf="post.vote < -1">{{presentationService.transformNumber(post.vote)}} downvotes</p>
            <pre> · </pre>
            <p class="txt_vote" *ngIf="comment_count == 0">0 comment</p>
            <p class="txt_vote" *ngIf="comment_count == 1">{{presentationService.transformNumber(comment_count)}} comment</p>
            <p class="txt_vote" *ngIf="comment_count > 1">{{presentationService.transformNumber(comment_count)}} comments</p>
        </div>
    </div>
</div>
</nav>
