:host {
    width: 100%;
    height: auto;
    display: block;
    background-color: rgb(239, 154, 223);
    // overflow: hidden;
    // scrollbar-gutter: stable;
}

:host:hover {
    // overflow-y: scroll;

}

a {
    display: block;
}