:host {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(243, 172, 230);
    overflow: hidden;
    scrollbar-gutter: stable both-edges;
    padding-right: var(--scrollbar_size);
    background-clip: content-box;
    // box-sizing: content-box;
}

:host:hover {
    overflow-y: auto;
}

a {
    display: block;
}