
<div id="user_info_container">
    <!-- <div style="width: 100%; height: 20px;"></div> -->
    <div id="header_block">
        <p style="color: var(--icon); font-size: 18px; font-weight: 600;">{{userInfo.username}}</p>
        <p style="margin-top: 10px; margin-bottom: 20px;">{{userInfo.description}}</p>
    </div>
    
    <div id="karma_block">
        <div class="info">
            <b>{{presentationService.formatKarma(userInfo.post_karma)}}</b>
            <p class="label">Post karma</p>
        </div>
        <div class="info">
            <b>{{presentationService.formatKarma(userInfo.comment_karma)}}</b>
            <p class="label">Comment karma</p>
        </div>
    </div>
    
    <div id="cake_block">
        <b>{{shownDate}}</b>
        <p class="label">Cake day</p>
    </div>
    
    <div id="edit_block" *ngIf="isUser">
        <p style="margin: 10px 0 10px 0">Settings</p>
        <div class="setting_block">
            <div>
                <img src="{{userInfo.avatar}}">
                <div id="setting_info">
                    <p>Profile</p>
                    <p>Customize your profile</p>
                </div>
            </div>
            <button id="btn_edit_profile" type="button" style="color: var(--secondary_color) !important;" (click)="editProfile()">Edit profile</button>
        </div>
    </div>
    
    <div id="moderator_block" *ngIf="communities.length != 0">
        <p style="padding:10px 0;">Moderator of these communities</p>
        <a class="community_block" href="r/{{community.id}}" *ngFor="let community of communities">
            <div class="community_info">
                <img src="{{community.avatar}}">
                <pre style="color: var(--secondary_color) !important;"> r/{{community.name}}</pre>
            </div>
        </a>
    </div>
</div>

