
<div id="header_block">
    <h2>{{userInfo.username}}</h2>
    <p style="margin-top: 10px; margin-bottom: 20px;">{{userInfo.description}}</p>
</div>

<div id="karma_block">
    <div class="info">
        <b>{{presentationService.formatKarma(userInfo.post_karma)}}</b>
        <p>Post karma</p>
    </div>
    <div class="info">
        <b>{{presentationService.formatKarma(userInfo.comment_karma)}}</b>
        <p>Comment karma</p>
    </div>
</div>

<div id="cake_block">
    <b>{{shownDate}}</b>
    <p>Cake day</p>
</div>

<div id="edit_block" *ngIf="isUser">
    <p style="margin: 10px 0 10px 0">Settings</p>
    <div class="setting_block">
        <div>
            <img src="{{userInfo.avatar}}">
            <div id="setting_info">
                <p>Profile</p>
                <p>Customize your profile</p>
            </div>
        </div>
        <button id="btn_edit_profile" type="button" (click)="editProfile()">Edit profile</button>
    </div>
</div>

<div id="moderator_block">
    <p style="padding:10px 0;">Moderator of these communities</p>
    <a class="community_block" href="r/{{community.id}}" *ngFor="let community of communities">
        <div class="community_info">
            <img src="{{community.avatar}}">
            <pre style="color: var(--secondary_color) !important;"> r/{{community.name}}</pre>
        </div>
    </a>
</div>
