
#user_info_container {
    // position: fixed;
    // height: calc(100vh - var(--header_size));
    // top: calc(var(--header_size) + 10px);
    background-color: var(--info);
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: 20px;
}

#user_info_container > div:not(#karma_block,#moderator_block) {
    border-bottom: 1px solid var(--border);
}


#user_info_container > * {
    color: var(--icon);
}

#header_block {
    margin-top: 20px;
}

#cake_block {
    padding: 10px 0;
}

.label {
    color: var(--txt);
    font-size: 14px;
}

#karma_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#karma_block > p {
    font-size: 13px;
}

#edit_block > * {
    margin: 0;
}

.setting_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.setting_block> div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#setting_info {
    font-size: 12px;
    margin-left: 5px;
}

#btn_edit_profile {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    background-color: var(--header);
    border: 1px solid var(--secondary_color) !important;
}

#edit_block > button {
    width: auto;
    height: auto;
    padding: 10px;
}

// #moderator_block, #edit_block, #header_block, #karma_block, #cake_block {
//     margin-left: 15px;
// }

#moderator_block {
    margin-bottom: 10px;
}

img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.community_info:hover {
    background-color: var(--nav_hover);
}

.community_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
}
