
.container {
    width: 100%;
    height: 50vh;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.container img:hover {
    cursor: pointer;
}

.container > button {
    width: 40px;
    height: 40px;
    background-color: var(--neutral);
    border-radius: 50%;
    position: absolute;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 2rem;
    color: var(--secondary_color);
}

i:hover {
    cursor: pointer;
}

.container > button:hover {
    opacity: 1;
}

#btn_left {
    left: 10px;
}

#btn_right {
    right: 10px;
}

#caption_link {
    height: auto;
    width: 100%;
    // text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--secondary_color);
}

#caption, #link {
    width: 100%;
    color: #ffffff !important;
    font-size: 13px;
}

#link, #link_post {
    color: #648EFC !important;
    text-decoration: underline;
}

#link:hover, #link_post:hover {
    color: #003686 !important;
}

.zoom_block {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
}

#btn_close_zoom {
    position: absolute;
    top: 23px;
    right: 20px;
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 45px;
    color: #ffffff;
}

#btn_caption {
    position: absolute;
    top: 23px;
    right: 100px;
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 45px;
    color: #ffffff;
}

#btn_hide_caption {
    width: 25px;
    aspect-ratio: 1/1;
    font-size: 28px;
    position: absolute;
    bottom: calc(100% - 35px);
    right: 10px;
    color: var(--secondary_color);
    background-color: var(--primary_background_color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn_hide_caption, #btn_caption, #btn_close_zoom {
    opacity: 0.2;
}

#btn_hide_caption:hover, #btn_caption:hover, #btn_close_zoom:hover {
    opacity: 1;
    cursor: pointer;
}

#caption_link_block {
    background-color: var(--neutral);
}

#caption_post {
    color: var(--secondary_color) !important;
}

#link_post, #caption_post {
    font-size: 14px;
}

 