
<div class="container" [ngClass]="{'zoom_block': isZoom}">
  <button id="btn_right" type="button" (click)="right($event)" [ngStyle]="{'display':rightAllowed && arr.length != 1 ? 'block':'none'}"><i class="pi pi-angle-right"></i></button>
  <button id="btn_left" type="button" (click)="left($event)" [ngStyle]="{'display':leftAllowed && arr.length != 1 ? 'block':'none'}"><i class="pi pi-angle-left"></i></button>
    <img src="{{arr[index].data}}" (click)="zoomImage($event)"/>
    <img id="btn_close_zoom" src="../../../../../assets/icon/close.png"  (click)="zoomImage($event)" *ngIf="isZoom"/>
</div>
<div id="caption_link" (click)="preventClick($event)">
  <p id="caption">{{arr[index].caption}}</p>
  <a id="link" href="{{arr[index].link}}" target="_blank">{{arr[index].link}}</a>
</div>