
.item-text {
    z-index: 99999;
    background-color: green;
    position: absolute;
    bottom: 50px;
}

.container {
    width: 100%;
    height: 50vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#caption_link {
    height: auto;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
}

.container > button {
    width: 40px;
    height: 40px;
    background-color: rgb(241, 201, 152);
    border-radius: 50%;
    position: absolute;
    opacity: 0.6;
}

i {
    font-size: 2rem;
}

.container > button:hover {
    opacity: 1;
}

#btn_left {
    left: 10px;
}

#btn_right {
    right: 10px;
}

#caption, #link {
    text-overflow: ellipsis;
    overflow-wrap:break-word;
    color: #ffffff;
}

#link {
    text-decoration: underline;
    color: #3090da;
}

.zoom_block {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -50px;
    left: -22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
}

#btn_close_zoom {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}

#btn_close_zoom:hover {
    cursor: pointer;
}
