
<p>Create a post</p>
<!-- <hr> -->
<form [formGroup]="CreatePostForm" (ngSubmit)="CreatePostForm()">
    <div id="search_community_block">
        <input id="input_search_community" type="search" placeholder="Choose a community" (focus)="onInputSearchComunityFocus($event)">
        <button id="btn_search_community_dropdown" type="button"><i class="pi pi-chevron-down" (click)="onDropDownSearchClick($event)"></i></button>
        <div id="search_community_result_block" [ngStyle]="{'display': isCommunitySearchDropdownOpen ? 'block':'none'}">
            <a href="">a</a>
            <a href="">b</a>
        </div>
    </div>
    <div id="post_type_block">
        <button class="btn_post_type" type="button" >Post</button>
        <button class="btn_post_type" type="button" >Image and video</button>
        <button class="btn_post_type" type="button" >Link</button>
        <button class="btn_post_type" type="button" >Poll</button>
    </div>
    <div id="post_title_block">
        <textarea id="input_post_title" maxlength="300" required placeholder="title" formControlName="title" (input)="onTextAreaInput()"></textarea>
        <span id="character_count">{{characterCount}}/300</span>
    </div>
    <div class="post_content">
        <quill-editor  [styles]="{height: '20vh'}" theme="snow" [modules]="quillConfig"  placeholder="Text (optional)" formControlName="content" (onContentChanged)="onContentChanged($event)"></quill-editor>
        <div id="post_img"></div>
        <div id="post_link"></div>
        <div id="post_poll"></div>
    </div>
    <div id="btn_create_post_block">
        <button id="btn_create_post" type="submit">Post</button>
    </div>
</form>

<quill-view [content]="editorContent" format="html" theme="snow"></quill-view>