
<p>Create a post</p>
<!-- <hr> -->
<form [formGroup]="CreatePostForm" (ngSubmit)="CreatePostForm()">
    <div id="search_community_block">
        <input id="input_search_community" type="search" placeholder="Choose a community" (focus)="onInputSearchComunityFocus($event)">
        <button id="btn_search_community_dropdown" type="button"><span class="pi pi-chevron-down" (click)="onDropDownSearchClick($event)"></span></button>
        <div id="search_community_result_block" [ngStyle]="{'display': isCommunitySearchDropdownOpen ? 'flex':'none'}">
            <a href="">a</a>
            <a href="">b</a>
        </div>
    </div>
    <div id="post_type_block">
        <button class="btn_post_type" type="button" (click)="isPostOpen=true;isPostImageOpen=false">Post</button>
        <button class="btn_post_type" type="button" (click)="isPostImageOpen=true;isPostOpen=false">Image and video</button>
        <button class="btn_post_type" type="button" >Link</button>
        <button class="btn_post_type" type="button" >Poll</button>
    </div>
    <div id="post_title_block">
        <textarea id="input_post_title" maxlength="300" required placeholder="title" formControlName="title" (input)="onTextAreaInput($event)"></textarea>
        <span id="character_count">{{characterCount}}/300</span>
    </div>
    <div class="post_content_block">
        <quill-editor [ngStyle]="{'display': isPostOpen ? 'block':'none'}" [styles]="{height: '20vh'}" theme="snow" [modules]="quillConfig"  placeholder="Text (optional)" formControlName="content" (onContentChanged)="onContentChanged($event)"></quill-editor>
        <div id="post_img_block" 
            [ngStyle]="{'display': isPostImageOpen ? 'flex':'none'}"
            (dragover)="onDragEnter($event)" 
            (drop)="onDrop($event)" 
            (dragenter)="onDragEnter($event)" 
            (dragleave)="onDragLeave($event)"
            >
            <div id="upload_img_block" [ngStyle]="{'justify-content': imgArr.length > 0 ? 'flex-start' : 'center'}">
                <pre id="txt_drag_and_drop" [ngStyle]="{'display': imgArr.length > 0 ? 'none': 'block'}">  Drag and drop image or click the button </pre>
                <div id="img_uploaded_result">
                    <app-img-uploaded *ngFor="let i of imgArr; index as index" 
                        [img]="i.data" 
                        [id]="index" 
                        [selected_id]="selected_id"
                        [arr]="imgArr"
                        (deleteImgOutput)="deleteImg($event)" 
                        (selectImgOutput)="selectImg($event)"
                    >
                    </app-img-uploaded>
                    <input id="input_upload_img" type="file" accept="image/*" (change)="upLoadImg($event)" formControlName="imgContent" #input_img>
                    <button id="btn_upload_img" type="button" (click)="input_img.click()"><img style="width: 50px; height: 50px" src="../../assets/icon/upload.png"/></button>
                </div>
            </div>
            <app-img-caption [img]="img" [ngStyle]="{'display': isImgUpload ? 'block' : 'none'}" (imgOutput)="onInputChange($event)"></app-img-caption>
        </div>
        <div id="post_link"></div>
        <div id="post_poll"></div>
    </div>
    <div id="btn_create_post_block">
        <button id="btn_create_post" type="submit">Post</button>
    </div>
</form>

<quill-view [content]="editorContent" format="html" theme="snow"></quill-view>