
:host * {
    color: var(--icon);
}

#container {
    height: auto;
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding: 15px 0;
}

#container:hover {
    cursor: pointer;
    background-color: var(--bg_hover);
}

#community_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#img_avatar {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
}

#txt_description {
    margin-left: calc(50px + 10px);
    color: var(--txt) !important;
    font-size: 14px;
}