
<div id="post_title_block">
    <textarea id="input_post_title" maxlength="300" required placeholder="Title" (input)="inputTitle($event)" [value]="edit_title"></textarea>
    <span id="character_count">{{characterCount}}/300</span>
</div>

<div id="post_video_block" [ngStyle]="{'background-color': edit_content.length == 0 ? 'var(--neutral)':'transparent'}">
    <input id="input_upload_video" type="file" accept=".mp4, .mov, .wmv, .WebM" (change)="onVideoUpload($event)" #input_video>
    <p style="margin-right: 10px; color: var(--icon);" [ngStyle]="{'display': edit_content.length == 0 ? 'block':'none' }">Click button to upload video</p>
    <button id="btn_upload_video" type="button" (click)="input_video.click()" [ngStyle]="{'display': edit_content.length == 0 ? 'block':'none' }"><img style="width: 50px; height: 50px" src="../../assets/icon/upload.png"/></button>
    <div id="video_block" [ngStyle]="{'display': edit_content.length > 0 ? 'block':'none' }">
        <video src="{{edit_content}}" preload="none" poster="" controls="true" disablepictureinpicture="true"></video>
        <button id="btn_delete_video" type="button" (click)="deleteVideo()" title="Delete video"><i class="pi pi-trash"></i></button>
    </div>
</div>

<div id="btn_comment_block">
    <button id="btn_cancel_comment" type="button" (click)="cancelEdit()">Cancel</button>
    <button id="btn_edit_comment" type="button" (click)="editPost()" [disabled]="allowSubmit">Edit</button>
</div>

<loading [txt_load]="'Edit post. Please wait'" *ngIf="isLoad"></loading>

