<div id="post_title_block">
    <textarea id="input_post_title" maxlength="300" required placeholder="Title" (input)="inputTitle($event)"></textarea>
    <span id="character_count">{{characterCount}}/300</span>
</div>
<div id="post_img_block" 
    (dragover)="onDragEnter($event)" 
    (drop)="onDrop($event)" 
    (dragenter)="onDragEnter($event)" 
    (dragleave)="onDragLeave($event)"
>
<div id="upload_img_block" [ngStyle]="{'justify-content': imgArr.length > 0 ? 'flex-start' : 'center'}">
    <pre id="txt_drag_and_drop" [ngStyle]="{'display': imgArr.length > 0 ? 'none': 'block'}">  Drag and drop image or click the button </pre>
    <div id="img_uploaded_result">
        <app-img-uploaded *ngFor="let i of imgArr; index as index" 
            [img]="i.data" 
            [id]="index" 
            [selected_id]="selected_id"
            [arr]="imgArr"
            (deleteImgOutput)="deleteImg($event)" 
            (selectImgOutput)="selectImg($event)"
        >
        </app-img-uploaded>
        <input id="input_upload_img" type="file" accept="image/*" (change)="upLoadImg($event)" #input_img>
        <button id="btn_upload_img" type="button" (click)="input_img.click()"><img style="width: 50px; height: 50px" src="../../assets/icon/upload.png"/></button>
    </div>
</div>
<app-img-caption [img]="img" [ngStyle]="{'display': imgArr.length > 1 ? 'block' : 'none'}" (imgOutput)="onInputChange($event)"></app-img-caption>
</div>

<div id="btn_comment_block">
    <button id="btn_cancel_comment" type="button" (click)="cancelEdit()">Cancel</button>
    <button id="btn_edit_comment" type="button" [disabled]="allowSubmit" (click)="editPost()">Edit</button>
</div>

<loading [txt_load]="'Edit post. Please wait'" *ngIf="isLoad"></loading>

