    
<div class="post_img_description_block">
    <div class="img_view">
        <img src="{{img.data}}" draggable="false"/>
    </div>
    <div class="img_caption_block" [formGroup]="form">
        <textarea id="txt_caption" maxlength="180" placeholder="Add a caption" 
            (input)="onTextAreaInput($event)"
            formControlName="caption"
            value={{img.caption}}
        >
        </textarea>
        <span id="character_count">{{characterCount}}/180</span>
            <input class="txt_link" type="text" placeholder="Add a link"  value="{{img.link}}" formControlName="link" (input)="changeLink()">
    </div>
</div>