:host {
    position: relative;
}

#main_navigation {
    margin-top: 20px;
}

#navigation_bar {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    scrollbar-gutter: stable;
}

#navigation_bar:hover {
    overflow-y: auto;
}

#navigation_bar > nav {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

#navigation_bar a, button {
    width: 100%;
    height: 50px;
    background-color: var(--primary_background_color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}

#navigation_bar a:hover, button:hover {
    background-color: rgb(173, 250, 249);
    border-radius: 10px;
}

span {
    position: relative;
    left: 20px;
}

.icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

#btn_popular {
    margin-bottom: 10px;
}

.btn_change_status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.btn_icon.pi-chevron-up::before, .pi-chevron-down::before {
    position: relative;
    right: 40px;
}

#trademark {
    text-align: center;
}

#img_community_icon, #img_create_community {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 5px;
}
