:host {
    position: relative;
    background-color: var(--header);
}

.selected_page {
    background-color: var(--search) !important;
}

#main_navigation {
    margin-top: 20px;
}

#navigation_bar {
    width: calc(100% - 15px);
    height: 100%;
    display: block;
    overflow: hidden;
    scrollbar-gutter: stable;
    margin-left: 15px;
}

#navigation_bar:hover {
    overflow-y: auto;
}

#navigation_bar > nav {
    width: 90%;
    height: auto;
    border-bottom: 1px solid var(--border);
}

#navigation_bar a, button {
    width: 100%;
    height: 50px;
    background-color: var(--header);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: var(--icon) !important;
    border-radius: 10px;
}

#navigation_bar a:hover, button:hover {
    background-color: var(--nav_hover) !important;
    // border-radius: 10px;
}

span {
    position: relative;
    left: 20px;
}

.icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

#btn_popular {
    margin-bottom: 10px;
}

.btn_change_status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.btn_icon.pi-chevron-up::before, .pi-chevron-down::before {
    position: relative;
    right: 40px;
}

#trademark {
    text-align: center;
}

#img_community_icon, button i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 5px;
}

button i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media only screen and (max-width: 1200px) {  
    #navigation_bar {
        overflow-y: auto;
        overflow-x: hidden;
        // width: 300px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

nav > div > a:last-child {
    margin-bottom: 10px;
}