:host {
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // overflow: hidden;
}

#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header_size);
    background-color: rgb(231, 179, 234);
    z-index: 100;
}

#header > :first-child {
    margin-left: 40px;
}

#header > :last-child {
    margin-right: 40px;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

#home > :nth-child(2) {
    font-size: 30px;
}

#main_logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#search_box {
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #040404;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(229, 151, 151);
    background-image: url("../../../../assets/icon/search.png");
    background-size: 20px 20px;
    background-position: 5px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
}

#signin_signup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 20px;
}

#body {
    height: calc(100vh - var(--header_size));
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}



#outlet {
    width: calc(80vw - var(--margin_home));
    height: calc(100vh - var(--header_size) - 50px);
    position: relative;
    top: 50px;
    // left: calc(20vw + var(--margin_home) - 5px);
}

app-navigation-bar {
    position: fixed;
    height: calc(100vh - var(--header_size) - 10px);
    left: 0;
    width: 20vw;
    top: var(--header_size);
    left: var(--margin_home);
    z-index: 3;
}

app-recent-visited-post {
    position: fixed;
    height: calc(100vh - var(--header_size));
    right: 0;
    width: 20vw;
    top: var(--header_size);
    // left: calc(75vw + var(--margin_home)/2);
    right: var(--margin_home);
}

app-navigation-bar:hover {
    overflow-y: scroll;
}

