:host {
    height: 100%;
    width: 100%;
    position: relative;
}

#outlet {
    width: calc(80vw - var(--margin_home));
    height: calc(100vh - var(--header_size));
    position: relative;
    top: 50px;
    left: calc(20vw + var(--margin_home));
}

app-navigation-bar {
    position: fixed;
    height: calc(100vh - var(--header_size));
    left: 0;
    width: 20vw;
    top: var(--header_size);
    left: var(--margin_home);
}

app-recent-visited-post {
    position: fixed;
    height: calc(100vh - var(--header_size));
    width: 21vw;
    top: var(--header_size);
    right: var(--margin_home);
}

app-navigation-bar:hover, app-recent-visited-post:hover {
    overflow-y: auto;
}


//create-community 
#create_community_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.85);
    overflow-x: hidden;
    overflow-y: hidden;
}

create-community {
    height: 90vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    app-navigation-bar {
        display: none;
    }
    #outlet {
        left: 0;
        width: 100%;
    }
  }

