
<header id="header">
    <div id="home" img>
        <a href="/home"><img id="main_logo" src="assets/icon/logo.png" alt="logo"/></a>
        <a href="/home">TRXYZNG</a>
    </div>

    <input id="search_box" type="text" placeholder="search"/>

    <div id="signin_signup">
        <a routerLink="/signin">login</a>
        <a routerLink="/signup">register</a>
    </div>
</header> 

<app-navigation-bar></app-navigation-bar>
<div id="outlet">
    <router-outlet>
    </router-outlet>
</div> 
<app-recent-visited-post></app-recent-visited-post>
