
:host {
    --community_icon: 30px;
}

app-editor-view {
    max-height: 20vh;
}

a {
    color: var(--secondary_color) !important;
}

#post_block {
    width: 100%;
    height: auto;
    // max-height: 50vh;
    background-color: var(--header);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
}

#post_block:hover {
    background-color: var(--bg_hover);
    cursor: pointer;
}

#post_block > *:not(:last-child)  {
    margin-bottom: 10px;
    padding: 0 10px;
}

hr {
    border-top: 1px solid var(--border);
    width: 100%;
}

//content
#main_content {
    margin-top: 5px;
    min-width: 400px;
}

// #main_content > * {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-box-orient: vertical; 
// }

#txt_title {
    margin-bottom: 10px;
    color: var(--icon);
    font-weight: 600;
    font-size: 18px;
}

app-editor-view {
    display: block;
    height: auto;
    max-height: 155px;
    overflow-y: hidden;
    // cursor: pointer;
}

app-editor-view {
    // cursor: pointer;
}

app-image-view {
    z-index: 9999;
}

app-link-view {
    display: block;
}

#community_icon {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: black;
}

a:hover {
    color: blue;
}

#community_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: var(--post-header-height);
    position: relative;
}

#community_block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#community_block > *{
    margin-right: 5px;
}

#link_date_block {

}

#community_link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#community_icon {
    width: var(--community_icon);
    height: var(--community_icon);
    border-radius: 50%;
}

#option_block {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    color: #ffffff !important;
}

#btn_allow {
    width: auto;
    height: 100%;
    padding: 0 15px;
    background-color: var(--allow);
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: var(--secondary_color);
}

#btn_delete {
    width: auto;
    height: 100%;
    padding: 0 15px;
    background-color: var(--delete);
    border-radius: 20px;
    font-size: 14px;
    color: var(--secondary_color);
}

#btn_joinn {
    width: auto;
    height: 80%;
    padding: 0 15px;
    // background-color: var(--downvote);
    border: 1px solid var(--neutral);
    border-radius: 20px;
    margin-right: 10px;
    font-size: 13px;
    // color: white;
}

#txt_join {
    color: white !important;
}

#txt_joined {
    color: var(--secondary_color) !important;
}

#btn_option {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--primary_background_color);
    color: var(--secondary_color);
}

#post_block:hover #btn_option {
    background-color: var(--bg_hover);
}

#post_block:hover #btn_option:hover {
    background-color: var(--search);
}

#dropdown_option_block {
    position: absolute;
    right: 10px;
    top: calc(var(--community_icon) + 5px);
    z-index: 9999;
    box-shadow: var(--menu_box_shadow);
    background-color: transparent;
    border-radius: 10px;
    color: var(--secondary_color);
}

#dropdown_option_block > * {
    width: 100%;
    height: 40px;
    background-color: var(--primary_background_color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    color: var(--secondary_color);
}
#dropdown_option_block i {
    margin-left: 15px;
    margin-right: 10px;
    color: var(--secondary_color);
}

#dropdown_option_block p {
    margin-right: 20px;
}

#dropdown_option_block > *:hover {
    background-color: var(--search);
}

#footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

#footer > * {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--search);
    margin-right: 10px;
    border-radius: 20px;
}

#post_block #footer #btn_upvote.normal {
    background-color: var(--search);
}

#post_block #footer #btn_downvote.normal {
    background-color: var(--search);
}

#btn_comment {
    background-color: var(--search);
}

#btn_comment, #btn_share {
    padding: 0px 5px;
}

#post_block #footer #btn_comment:hover, #post_block #footer #btn_share:hover {
    background-color: var(--search);
}

#btn_upvote, #btn_downvote {
    padding: 5px 5px;
    border-radius: 20px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_upvote img, #btn_downvote img {
    width: 20px;
    height: 20px;
    // object-fit: contain;
    border-radius: 50%;
}

#footer > div.upvote {
    background-color: var(--upvote);
}

#footer > div.downvote {
    background-color: var(--downvote);
}

#block_vote > button.upvote {
    background-color: var(--upvote);
}

#block_vote > button.downvote {
    background-color: var(--downvote);
}

#post_block #footer #block_vote #btn_upvote:hover {
    background-color: var(--upvote);
}

#post_block #footer #block_vote #btn_downvote:hover {
    background-color: var(--downvote);
}

#btn_comment > p, #btn_share > p {
    padding: 0px 5px;
}

#btn_comment {
    color: var(--secondary_color);
}

#post_block #footer #block_vote > #btn_upvote.upvote:hover,
#post_block #footer #block_vote > #btn_upvote.downvote:hover,
#post_block #footer #block_vote > #btn_downvote.downvote:hover,
#post_block #footer #block_vote > #btn_downvote.upvote:hover
{
    background-color: rgba(0, 0, 0, 0.4);
}

button {
    background-color: var(--primary_background_color);
}

//moderator
#moderate_block {
    width: auto;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#btn_allow, #btn_delete {
    width: auto;
    padding: 5px 15px;
    background-color: var(--search);
    border-radius: 20px;
    font-size: 14px;
    color: var(--icon);
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_allow {
    margin-right: 10px;
}


