
<hr>
<div id="post_block" (click)="navigateToPost()">
    <nav id="community_bar">
        <div id="community_block" *ngIf="!isModPage">
            <a id="community_link" href="/r/{{post.community_id}}" (click)="stopPropagation($event)">
                <img id="community_icon" src="{{communityIcon}}" alt="community_icon"/>
            </a>
            <div id="link_date_block"> 
                <a href="/r/{{post.community_id}}" style="font-weight: 500; font-size: 13px; color: var(--txt) !important;"(click)="stopPropagation($event)" title="{{communityName}}">r/{{communityName}}  </a>
                <i style="font-weight: bold; color: var(--txt);">·</i>
                <span style="font-size: 12px; color: var(--txt); font-weight: 300;"> {{shownDate}}</span>
            </div>
            <p style="color: var(--txt);">{{post.post_id}}</p>
        </div>
        <div id="community_block" *ngIf="isModPage">
            <a id="community_link" href="/user/{{post.username}}" (click)="stopPropagation($event)">
                <img id="community_icon" src="{{post.username_icon}}" alt="user avatar"/>
            </a>
            <div id="link_date_block"> 
                <a href="/user/{{post.username_icon}}" style="font-weight: 500; font-size: 13px; color: var(--txt) !important;"(click)="stopPropagation($event)" title="{{post.username}}">u/{{post.username}}  </a>
                <i style="font-weight: bold; color: var(--txt);">·</i>
                <span style="font-size: 12px; color: var(--txt); font-weight: 300;"> {{shownDate}}</span>
            </div>
            <p style="color: var(--txt);">{{post.post_id}}</p>
        </div>
        
        <div id="option_block">
            <button id="btn_joinn" class="btn" *ngIf="!isHomePage && !isCommunityPage && !isControlPage && !isModPage" (click)="joinCommunity($event)" [ngStyle]="{'background-color': post.join == 1 ? 'var(--primary_background_color)' : 'var(--allow)', 'border': post.join == 1 ? '1px solid var(--secondary_color)' : 'none'}"><p id="txt_joined" *ngIf="post.join == 1">Joined</p><p id="txt_join" *ngIf="post.join == 0 || post.join == null">Join</p></button>
            <button id="btn_option" type="button" title="Open option menu" *ngIf="!isControlPage && !isModPage" (click)="openOptionMenu($event)"><i class="pi pi-ellipsis-h"></i></button>
        </div>
        <div id="dropdown_option_block" [ngStyle]="{'display': isOptionMenuOpen ? 'block':'none'}">
            <button (click)="savePost($event)"><i class="pi" [ngClass]="post.save ? 'pi-bookmark-fill':'pi-bookmark'"></i><p *ngIf="post.save == 1">Unsave</p><p *ngIf="post.save != 1">Save</p></button>
        </div>
    </nav>

    <nav id="main_content">
        <p id="txt_title" [ngStyle]="{'display': type=='link'?'none':'block'}">{{title}}</p>
        <app-editor-view *ngIf="type=='editor'" [content]="content"></app-editor-view>
        <app-image-view *ngIf="type=='img'" [content]="content"></app-image-view>
        <app-link-view *ngIf="type=='link'" [title]="title" [content]="content"></app-link-view>
        <app-video-view *ngIf="type=='video'" [content]="content"></app-video-view>
    </nav>

    <nav id="footer" *ngIf="!isModPage">
        <div id="block_vote" class="block_vote" [ngClass]="{'upvote': post.voteType === 'upvote', 'downvote': post.voteType === 'downvote', 'normal': post.voteType === 'none' || (post.voteType == null)}">
            <button id="btn_upvote" style="color: var(--icon);" type="button" (click)="votePost($event, 'upvote')" [ngClass]="{'upvote': post.voteType === 'upvote', 'downvote': post.voteType === 'downvote', 'normal': post.voteType === 'none' || (post.voteType == null)}"><img [attr.src]="post.voteType === 'upvote' ? upvote_fill : voteImgService.upvote" /></button>
            <p id="vote_count" [ngStyle]="{'color': post.voteType == 'none' || post.voteType == null ? 'var(--icon)' : '#ffffff'}">{{presentationService.transformNumber(vote)}}</p>
            <button id="btn_downvote" style="color: var(--icon);" type="button" (click)="votePost($event, 'downvote')" [ngClass]="{'upvote': post.voteType === 'upvote', 'downvote': post.voteType === 'downvote', 'normal': post.voteType === 'none' || (post.voteType == null)}"><img [attr.src]="post.voteType === 'downvote' ? downvote_fill : voteImgService.downvote" /></button>
        </div>
        <button id="btn_comment" type="button" (click)="navigateToPost()">
            <i class="pi pi-comment"></i>
            <p id="comment_count">{{presentationService.transformNumber(comment_count)}}</p>
        </button> 
        <!-- <button id="btn_share" type="button">
            <i class="pi pi-upload"></i>
            <p>Share</p>
        </button> -->
    </nav>
    <nav id="moderate_block">
        <button id="btn_allow" *ngIf="isModPage" (click)="allowPost($event)">Aprove</button>
        <button id="btn_delete" *ngIf="isModPage" (click)="deletePost($event)">Remove</button>
    </nav>
</div>



