
:host {
    --community_icon: 30px;
}

#post_block {
    width: 100%;
    height: auto;
    background-color: var(--primary_background_color);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
}

#post_block:hover {
    background-color: var(--primary_background_color_hover);
}

#post_block > *:not(:last-child)  {
    margin-bottom: 10px;
    padding: 0 10px;
}

hr {
    border-top: 1px solid black;
    width: 100%;
}

#main_content {
    margin-top: 5px;
}

#main_content > * {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}

#main_content > h3 {
    margin-bottom: 10px;
}

#main_content > p {
    -webkit-line-clamp: 3;
}

app-editor-view {
    height: auto;
    max-height: 50vh;
    overflow-y: hidden;
    z-index: 9999;
    // cursor: pointer;
}

app-editor-view {
    // cursor: pointer;
}

img {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: black;
}

#post_block:hover {
    cursor: pointer;
}

a:hover {
    color: blue;
}

#community_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: var(--post-header-height);
    position: relative;
}

#community_block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#community_block > *, #community_link > * {
    margin-right: 5px;
}

#link_date_block {

}

#community_link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#community_icon {
    width: var(--community_icon);
    height: var(--community_icon);
    border-radius: 50%;
}

#btn_option {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--primary_background_color);
}

#post_block:hover #btn_option {
    background-color: var(--primary_background_color_hover);
}

#post_block:hover #btn_option:hover {
    background-color: var(--primary_background_color);
}

#dropdown_option_block {
    background-color: bisque;
    position: absolute;
    right: 10px;
    top: calc(var(--community_icon) + 10px);
}

#dropdown_option_block > * {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dropdown_option_block i {
    margin-left: 15px;
    margin-right: 10px;
}

#dropdown_option_block p {
    margin-right: 20px;
}

#dropdown_option_block > *:hover {
    opacity: 0.7;
}

#footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

#footer > * {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary_background_color_hover);
    margin-right: 10px;
    border-radius: 20px;
}

#post_block #footer #block_vote.normal, #btn_upvote.normal, #btn_downvote.normal {
    background-color: var(--primary_background_color_hover);
}

#post_block #footer #btn_upvote.normal {
    background-color: var(--primary_background_color_hover);
}

#post_block #footer #btn_downvote.normal {
    background-color: var(--primary_background_color_hover);
}

#post_block:hover #footer > *:not(.block_vote) {
    background-color: var(--primary_background_color);
}

#post_block:hover #footer #block_vote.normal {
    background-color: var(--primary_background_color);
}

#post_block:hover #footer #btn_upvote.normal {
    background-color: var(--primary_background_color);
}

#post_block:hover #footer #btn_downvote.normal {
    background-color: var(--primary_background_color);
}

#btn_comment, #btn_share {
    padding: 0px 5px;
}

#btn_comment:hover, #btn_share:hover {
    background-color: rgba($color: #dcffcb, $alpha: 1.0);
}

#btn_upvote, #btn_downvote {
    padding: 5px 5px;
    border-radius: 20px;

}

#footer > div.upvote {
    background-color: orange;
}

#footer > div.downvote {
    background-color: rgb(99, 122, 239);
}

#block_vote > button.upvote {
    background-color: orange;
}

#block_vote > button.downvote {
    background-color: rgb(99, 122, 239);
}

#post_block #footer #block_vote #btn_upvote:hover {
    background-color: orange;
}

#post_block #footer #block_vote #btn_downvote:hover {
    background-color: rgb(99, 122, 239);
}

#btn_comment > p, #btn_share > p {
    padding: 0px 5px;
}

#post_block #footer #block_vote > #btn_upvote.upvote:hover,
#post_block #footer #block_vote > #btn_upvote.downvote:hover,
#post_block #footer #block_vote > #btn_downvote.downvote:hover,
#post_block #footer #block_vote > #btn_downvote.upvote:hover
{
    background-color: rgba(0, 0, 0, 0.4);
}


button {
    background-color: var(--primary_background_color);
}

// #footer > button:hover, button:hover {
//     background-color: rgb(99, 122, 239);
// }





