
:host {
    --signin_length: 300px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
}

#signin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 80px;
    padding-bottom: 30px;
}

#signin_container > * {
    margin: 10px 0px;
}

#main_logo {
    width: 60px;
    aspect-ratio: 1/1;
}

.p {
    font-size: large;
    font-weight: 400;
}

form {
    width: var(--signin_length);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
}

form > * {
    margin: 10px 0px 0px 0px;
}

form > input[type=text], input[type=password] {
    margin: 5px 0px 0px 0px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
}

input[type=password]:focus, #username:focus {
    border: 2px solid black;
}

#forgot_pass {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#lbl_username {
    align-self: flex-start;
    position: relative;
    left: 5%;
}

a {
    text-decoration: none;
    padding-left: 5px;
    color: #0045AC !important;
    font-size: 16px;
}

p {
    font-size: 16px !important;
}

#btnSignIn {
    background-color: var(--main_color);
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 5px 20px;
    border: 1px black solid;
    border-radius: 20px;
    margin-bottom: 10px;
    color: black;
}

#google_login {
    display: flex;
    flex-direction: row;
    width: var(--signin_length);
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #ffffff;
}

#google_login > * {
    padding: 5px 5px;
}

#google_login > p {
    font-size: 18px !important;
}

#google_login:hover {
    background-color: var(--main_color);
}

#google_logo {
    width: 35px;
    aspect-ratio: 1/1;
}

#create_account {
    display: flex;
    align-content: space-between;
}

button {
    background-color: white;
    border: 1px solid black;
    width: 50px;
    height: 30px;
}

#login-success {
    position: absolute;
    background-color: var(--allow);
    z-index: 10;
}

.is_login {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--allow);
    position: absolute;
}

