
<div id="post_block">
    <!-- *ngIf="((post.allow == 1) && (post.deleted == 0)) || isAuthor || post.communityOwner == 1"   -->
    <nav id="community_bar">
        <div id="community_block">
            <back-button *ngIf="!isModPage"></back-button>
            <a id="community_link" href="r/{{post.community_id}}" [ngStyle]="{'margin-left': isModPage ? '0' : '10px'}">
                <img id="community_icon" src="{{post.community_icon}}" alt="community_icon"/>
            </a>
            <div id="link_date_block"> 
                <a id="community_name" style="font-weight: bold;" href="r/{{post.community_id}}">r/{{post.community_name}}  </a>
                <i style="font-weight: bold;">·</i>
                <span style="font-size: 13px; color: var(--txt);"> {{shownDate}}</span>
            </div>
            <a id="username" href="/user/{{post.username}}" [ngStyle]="{'left': isModPage ? '55px' : '105px'}">{{post.username}}</a>
        </div>
        <div id="option_block">
            <button class="btn_option" type="button" title="Previous post" *ngIf="isModPage" [disabled]="firstLast.first == 1" (click)="goToPreviousPost($event)"><i class="pi pi-angle-left" style="font-size: 20px;" ></i></button>
            <button class="btn_option" type="button" title="Next post" style="margin-right: 10px;" *ngIf="isModPage" [disabled]="firstLast.last == 1" (click)="goToNextPost($event)"><i class="pi pi-angle-right" style="font-size: 20px;" ></i></button>
            <button class="btn_option" type="button" title="Close" *ngIf="isModPage" (click)="CloseViewPost($event)"><i class="pi pi-times"></i></button>
            <button class="btn_option" type="button" title="Options" *ngIf="!isModPage" (click)="openOptionMenu($event)" [ngStyle]="{'background-color':isOptionMenuOpen?'var(--bg_hover)':''}"><i class="pi pi-ellipsis-h"></i></button>
        </div>
        <div id="dropdown_option_block" [ngStyle]="{'display': isOptionMenuOpen ? 'block':'none'}">
            <button id="btn_edit" *ngIf="isAuthor" (click)="editPost($event)"><i class="pi pi-pencil"></i><p>Edit</p></button>
            <button *ngIf="isAuthor || (post.communityOwner == 1)" (click)="deletePost()"><i class="pi pi-trash"></i><p>Delete</p></button>
            <button id="btn_save" (click)="savePost($event)"><i class="pi" [ngClass]="post.save ? 'pi-bookmark-fill':'pi-bookmark'"></i><p *ngIf="post.save == 0 || post.save == null">Save</p><p *ngIf="post.save == 1">Unsave</p></button>
        </div>
    </nav>

    <nav id="main_content">
        <p id="txt_title" style="margin-bottom: 16px">{{post.title}}</p>
        <div id="post_container" *ngIf="post.type=='editor'"></div>
        <app-image-view *ngIf="post.type=='img'" [content]="post.content"></app-image-view>
        <app-link-view *ngIf="post.type=='link'" [title]="post.title" [content]="post.content"></app-link-view>
        <app-video-view *ngIf="post.type=='video'" [content]="post.content"></app-video-view>
    </nav>

    <nav id="footer">
        <div id="block_vote" class="block_vote" [ngClass]="{'upvote': post.voteType === 'upvote', 'downvote': post.voteType === 'downvote', 'normal': post.voteType === 'none'}" [ngStyle]="{'opacity': post.deleted ? '1' : '1'}">
            <button id="btn_upvote" type="button" (click)="votePost($event, 'upvote')" [ngClass]="{'upvote': post.voteType === 'upvote', 'downvote': post.voteType === 'downvote', 'normal': (post.voteType === 'none') || (post.voteType == null)}" [disabled]="post.deleted"><img [attr.src]="post.voteType === 'upvote' ? upvote_fill : voteImgService.upvote" /></button>
            <p style="color: var(--icon);">{{presentationService.transformNumber(post.vote)}}</p>
            <button id="btn_downvote" type="button" (click)="votePost($event, 'downvote')" [ngClass]="{'upvote': post.voteType === 'upvote', 'downvote': post.voteType === 'downvote', 'normal': (post.voteType === 'none') || (post.voteType == null)}" [disabled]="post.deleted"><img [attr.src]="post.voteType === 'downvote' ? downvote_fill : voteImgService.downvote" /></button>
        </div>
        <button id="btn_comment" type="button" onclick="document.getElementById('comment').scrollIntoView();" [disabled]="post.deleted">
            <i class="pi pi-comment"></i>
            <p id="comment_count" style="font-variant: var(--txt);">{{presentationService.transformNumber(commentCount)}}</p>
        </button> 
        <div id="moderate_block">
            <button class="btn" id="btn_allow" type="button" [ngStyle]="{'margin-right': post.deleted == 1 ? '0' : '10px'}" *ngIf="post.communityOwner == 1 && (post.deleted == 1 || post.allow == 0)" title="Approve this post" (click)="allowPost($event)"><i class="pi pi-check"></i></button>
            <button class="btn" id="btn_delete" type="button" *ngIf="post.communityOwner == 1 && (post.deleted == 0)" (click)="notAllowPost($event)" title="Remove this post"><i class="pi pi-times"></i></button>
        </div>
    </nav>

    <div id="deleted_block" *ngIf="post.deleted == 1">
        <i class="pi pi-trash"></i>
        <pre>Sorry, this post is deleted by <p *ngIf="post.deleted_by == 1">the person who originally posted it</p><p *ngIf="post.deleted_by == 2">moderator</p>.</pre>
    </div>
</div>





