
<!-- <hr> -->
<div id="post_block"           
>
    <nav id="community_bar">
        <div id="community_block">
            <a id="community_link" href="r/{{post.community_id}}">
                <img id="community_icon" src="{{communityIcon}}" alt="community_icon"/>
            </a>
            <div id="link_date_block"> 
                <a id="community_name" style="font-weight: bold;" href="r/{{post.community_id}}">r/{{communityName}}  </a>
                <i style="font-weight: bold;">·</i>
                <span style="font-size: 13px;"> {{shownDate}}</span>
            </div>
            <a id="username" href="">{{username}}</a>
        </div>
        <div id="option_block">
            <!-- <button class="btn" id="btn_join" id="btn_join" *ngIf="!isHomePage" (click)="joinCommunity($event)">{{joinText}}</button> -->
            <button id="btn_option" type="button" (click)="openOptionMenu($event)"><i class="pi pi-ellipsis-h"></i></button>
        </div>
        <div id="dropdown_option_block" [ngStyle]="{'display': isOptionMenuOpen ? 'block':'none'}">
            <button id="btn_edit" *ngIf="isAuthor" (click)="editPost($event)"><i class="pi pi-pencil"></i><p>Edit</p></button>
            <button *ngIf="isAuthor" (click)="deletePost()"><i class="pi pi-trash"></i><p>Delete</p></button>
            <button *ngIf="!isAuthor"><i class="pi pi-bookmark"></i><p>Save</p></button>
            <button *ngIf="!isAuthor"><i class="pi pi-eye-slash"></i><p>Hide</p></button>
        </div>
    </nav>

    <nav id="main_content">
        <h3 [ngStyle]="{'display': type=='link'?'none':'block'}">{{title}}</h3>
        <app-editor-view *ngIf="type=='editor'"  [content]="content" ></app-editor-view>
        <app-image-view *ngIf="type=='img'" [content]="content" ></app-image-view>
        <app-link-view *ngIf="type=='link'" [title]="title" [content]="content" ></app-link-view>
    </nav>

    <nav id="footer">
        <div id="block_vote" class="block_vote" [ngClass]="{'upvote': voteType === 'upvote', 'downvote': voteType === 'downvote', 'normal': voteType === 'none'}">
            <button id="btn_upvote" type="button" (click)="votePost($event, 'upvote')" [ngClass]="{'upvote': voteType === 'upvote', 'downvote': voteType === 'downvote', 'normal': voteType === 'none'}"><img [attr.src]="voteType === 'upvote' ? upvote_fill: upvote" /></button>
            <p id="vote_count">{{vote}}</p>
            <button id="btn_downvote" type="button" (click)="votePost($event, 'downvote')" [ngClass]="{'upvote': voteType === 'upvote', 'downvote': voteType === 'downvote', 'normal': voteType === 'none'}"><img [attr.src]="voteType === 'downvote' ? downvote_fill: downvote" /></button>
        </div>
        <button id="btn_comment" type="button" onclick="document.getElementById('comment').scrollIntoView();">
            <i class="pi pi-comment"></i>
            <p id="comment_count">{{commentCount}}</p>
        </button> 
        <button id="btn_share" type="button">
            <i class="pi pi-upload"></i>
            <p>Share</p>
        </button>
    </nav>
</div>





