
:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host > * {
    margin: 10px 0px;
}

#main_logo {
    width: 70px;
    height: 70px;
}

.p {
    font-size: large;
    font-weight: 400;
}

form {
    width: var(--form_length);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px blue solid;
    border-radius: 5px;
    background-color: aliceblue;
}

form > p {
    align-self: flex-start;
    position: relative;
    left: 5%;
    bottom: 7px;
    font-size: 13px;
}

form > input[type=text] {
    margin: 5px 0px 0px 0px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    margin-bottom: 10px;
}

input[type=text]:focus {
    border: 2px solid black;
}

label {
    align-self: flex-start;
    position: relative;
    left: 5%;
}

a {
    text-decoration: none;
    color: blue;
    margin-left: 5px;
}

#btnSignUp {
    background-color: #92e596;
    font-size: medium;
    width: 70px;
    height: 30px;
    border: 2px black solid;
    border-radius: 5px;
    // position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

#txt_GoogleSignUp {
    font-size: medium;
}

#google_login {
    display: flex;
    flex-direction: row;
    width: var(--form_length);
    height: auto;
    justify-content: center;
    align-items: center;
    border: 1px blue solid;
    border-radius: 5px;
    background-color: aliceblue;
}

#google_login > * {
    padding: 5px 5px;
}

#google_login:hover {
    background-color: aqua;
}

#google_logo {
    width: 30px;
    height: 30px;
}

#signin {
    display: flex;
    justify-content: center;
}

#lbl_email {
    margin-top: 10px;
}

.email_ok, .username_ok, .password_ok, .confirm_password_ok {
    display: block;
    color: green;
}

.email_not_ok, .username_not_ok, .password_not_ok, .confirm_password_not_ok {
    display: block;
    color: red;
}