
:host {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
    background-color: #ffffff;
}

#signup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 15px;
}

#signup_container > * {
    margin: 10px 0px;
}

#main_logo {
    height: 60px;
    aspect-ratio: 1/1;
}

.p {
    font-size: large;
    font-weight: 400;
}

form {
    width: var(--form_length);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #ffffff;
}

form > p {
    align-self: flex-start;
    position: relative;
    left: 5%;
    bottom: 7px;
    font-size: 13px;
}

form > input {
    margin: 5px 0px 0px 0px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: auto;
    padding: 5px 0;
    margin-bottom: 10px;
    padding-left: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid black;
}

label {
    align-self: flex-start;
    position: relative;
    left: 5%;
}

a {
    text-decoration: none;
    color: #0045AC !important;
    margin-left: 5px;
}

#btnSignUp {
    font-size: medium;
    width: auto;
    height: auto;
    padding: 5px 20px;
    border: 1px black solid;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: var(--main_color);
    color: black;
}

#txt_GoogleSignUp {
    font-size: 18px;
}

#google_login {
    display: flex;
    flex-direction: row;
    width: var(--form_length);
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #ffffff;
}

#google_login > * {
    padding: 5px 5px;
}

#google_login:hover {
    background-color: var(--main_color);
}

#google_logo {
    width: 30px;
    height: 30px;
}

#signin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#lbl_email {
    margin-top: 10px;
}

.email_ok, .username_ok, .password_ok, .confirm_password_ok {
    display: block;
    color: green;
}

.email_not_ok, .username_not_ok, .password_not_ok, .confirm_password_not_ok {
    display: block;
    color: red;
}
