
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --header_size: 50px;
    --form_length: 300px;
    --scrollbar_size: 10px;
    --primary_background_color: #ffffff;
    --secondary_color: #000000;
    --primary_background_color_hover: #f59e9e;
    --margin_home: 20px;
    --post_width: 50vw;
    --post-header-height: 30px;
    --info_width: 300px;
    --neutral: #dddddd;
    --box_shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --menu_box_shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --search_communities_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --light_border: #b7b7b7;
    --scrollbar_track: #ffffff;
    --scrollbar_thumb: #c6c6c6;
    --join: #674500;
    --allow: #5959f9;
    --delete: #fb3030;
    --upvote:	#D93900;
    --downvote:	#6A5CFF;
    --select_btn: #9494FF;
    --link: #0045AC;
    --search: #E5EBEE;
    --header: #ffffff;
    --info: #F9FAFA;
    --txt: #2A3C42;
    --border: #00000033;
    --icon: #000000;
    --nav_hover: #F6F8F9;
    --bg_hover: #F2F4F5;
    --btn_selected: #D2DADD;
    --main_color: #fd5010;
    --post_btn: #0045AC
}

html, body, * {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;  
    background-color: var(--primary_background_color);  
}  

textarea {
  resize: none;
  color: var(--secondary_color) !important;
  font-size: 16px !important;
  background-color: var(--primary_background_color) !important;
  border: 1px solid var(--secondary_color);
}

textarea:focus {
  outline: var(--secondary_color) solid 1px !important;
}

app-root {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary_background_color);
}

button:hover {
    cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a, a:visited {
    text-decoration: none;
    color: var(--link) !important;
}

.swal2-container {
  z-index: 99999;
}


::-webkit-scrollbar {
    width: var(--scrollbar_size);
  }

.scrollbar_width {
  scrollbar-width: var(--scrollbar_size);
}
  
  /* background */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar_track); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar_thumb); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b1b1; 
  }

//view css
.img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 100%;
}

.figure {
  margin: 10px 0;
}

.figure > .img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.figcaption {
  text-align: center;
  font-size: small;
  margin-top: 3px;
}

.pre_code {
  padding: 1rem 1rem;
  border: 3px solid #b4d7ff;
  background-color: #f5f2f0;
  font-family: 'Consolas';
  width: 100%;
  margin: 3px 0;
}

.code {
  font-family: 'Consolas';
}

.ol, .ul {
  padding-left: 25px;
}

.p {
  margin-bottom: 16px;
  font-size: 14px;
  color: var(--txt) !important;
}

.post_view {
  margin-bottom: 16px;
  font-size: 15px;
  color: var(--txt) !important;
}

.comment_content {
  font-size: 14px;
  color: var(--icon) !important;
}

.a {
  color: var(--link) !important;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

.a:visited {
  color: var(--link) !important;
  text-decoration: none;
}

.link {
  text-decoration: underline !important; 
}

.blockquote {
  border-left: 5px solid #b1afaf;
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 16px;
}

.blockquote p {
  display: inline;
}

.img_comment {
  display: block;
  margin: 10px 0;
  max-width: 200px;
  max-height: 200px;
}

input:focus {
  outline: none !important;
}

//empty data
.empty_block {
  width: 100%;
  height: auto;
  background-color: var(--bg_hover);
  text-align: center;
  font-size: 30px !important;
  padding: 25vh 10px;
  margin-top: 40px;
}

.empty_block p {
  font-size: 24px !important;
  font-weight: 500;
}

.empty_block > a {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--primary_background_color);
  position: relative;
  top: 30px;
  color: var(--secondary_color) !important;
  box-shadow: var(--menu_box_shadow);
}

//data_loader
.load_data_block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  margin-bottom: 30px;
}

.img_load_data {
  position: absolute;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 999;
}

/* HTML: <div class="loader"></div> */
.data_loader {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  // background: #000;
  box-shadow: 0 0 0 0 #ff5214;
  animation: l2 0.8s infinite linear;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #f66631;
  animation: inherit;
  animation-delay: -0.35s;
}
.loader:after {
  animation-delay: -0.5s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 12px #ff8154}
}