
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --header_size: 50px;
    --form_length: 300px;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: content-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;    
}  

app-root {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 241, 186);
}

button:hover {
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: black
}

