
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --header_size: 50px;
    --form_length: 300px;
    --scrollbar_size: 10px;
    --primary_background_color: rgb(157, 243, 185);
    --primary_background_color_hover: rgb(68, 216, 117);
    --margin_home: 20px;
    --post_width: 50vw;
    --post-header-height: 40px;
    // overflow: hidden;
}

html, body, * {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;    
}  

app-root {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary_background_color);
}

button:hover {
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: black
}




::-webkit-scrollbar {
    width: var(--scrollbar_size);
  }
  
  /* background */
  ::-webkit-scrollbar-track {
    background: var(--primary_background_color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #909090; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b1b1; 
  }
