
<app-post
    [post_id]="post.post_id"
    [type]="post.type"
    [communityName]="post.community_name"
    [userName]="post.username"
    [title]="post.title"
    [content]="post.content"
    [created_at]="post.created_at"
    [vote]="post.vote"
    [communityIcon]="post.community_icon"
    [commentCount]="commentResults.length"
>
</app-post>

<div id="comment_editor_block"> 
    <editor
    [init]="editorSettings"
    (onSelectionChange)="onContentChanged($event)"
    style="width: calc(100%);"
>
</editor>
<div id="btn_comment_block"> 
    <button id="btn_cancel_comment" type="button" (click)="cancelComment()">Cancel</button>
    <button id="btn_submit_comment" type="button" (click)="createComment($event)">Comment</button>
</div>
</div>


<h3 id="no_comment_block" *ngIf="commentResults.length === 0">No comment found for this post</h3>

<app-comment id="comment" *ngFor="let comment of commentResults; let i=index"
    [commentData]="comment"
    [postId]="postId"
    (commentModified)="reloadComment($event)"
>
</app-comment>

