
<app-post
    *ngIf="!isDeleted"
    [post]="post"
    [post_id]="post.post_id"
    [type]="post.type"
    [communityName]="post.community_name"
    [uid]="post.uid"
    [username]="post.username"
    [title]="post.title"
    [content]="post.content"
    [created_at]="post.created_at"
    [vote]="post.vote"
    [communityIcon]="post.community_icon"
    [commentCount]="commentResults.length"
>
</app-post>

<div id="deleted_post_block" *ngIf="isDeleted">
    <b>Post does not exist</b>
</div>

<div id="comment_editor_block" *ngIf="!isDeleted"> 
    <editor
    [init]="editorSettings"
    (onSelectionChange)="onContentChanged($event)"
    style="width: calc(100%);"
>
</editor>
<div id="btn_comment_block" *ngIf="!isDeleted"> 
    <button id="btn_cancel_comment" type="button" (click)="cancelComment()">Cancel</button>
    <button id="btn_submit_comment" type="button" (click)="createComment($event)">Comment</button>
</div>
</div>


<h3 id="no_comment_block" *ngIf="commentResults.length === 0 && !isDeleted">No comment found for this post</h3>

<div class="comment_container" *ngFor="let comment of commentResults; let i=index">
    <app-comment id="comment"
    *ngIf="!isDeleted"
    [commentData]="comment"
    [postId]="postId"
    [isCommunityOwner]="isCommunityOwner"
    (commentModified)="reloadComment($event)"
    [ngStyle]="{'padding-left': comment.level*30+'px', 'width': width[i], 'display': 'block', 'margin-top': comment.level == 0 ? '30px' : 0}"
    >
    </app-comment>
</div>


