:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    --btn_width: 75px;
    --btn_height: 35px;
    padding-bottom: 20px;
    background-color: var(--primary_background_color);
}


app-post {
    width: 100%;
}

#btn_comment_editor {
    width: calc(100% - 40px);
    height: auto;
    padding: 5px 70px;
    background-color: var(--search);
    color: var(--icon);
    border-radius: 20px;
    border: 1px solid var(--icon);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#comment_editor_block {
    width: calc(100% - 40px);
    height: auto;
    position: relative;
}

#btn_comment_editor, #comment_editor_block {
    margin-top: 15px;
}

#btn_comment {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 7px;
    right: 10px;
}

#btn_comment_block {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
}

#btn_comment_block > * {
    text-align: center;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 14px;
    width: auto;
    padding: 0 15px;
    height: 35px;
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
}

#btn_hide_comment_editor {
    height: 25px;
    padding: 0 35px;
    background-color: var(--neutral);
    color: var(--secondary_color);
    border: 1px solid var(--secondary_color);
    border-radius: 20px;
    position: relative;
    left: 50px;
}

#btn_cancel_comment {
    background-color: var(--primary_background_color);
}

#btn_submit_comment {
    background-color: var(--allow);
}

.comment {
    width: 100%;
}

.comment_container {
    width: calc(100% - 40px);
    height: auto;
}

.comment_element {
    width: calc(100%);
    height: auto;
    // border-left: 1px solid var(--txt);
}

app-comment {
    width: 100%;
}

#no_comment_block {
    margin: 0 50px;
    font-size: 20px;
}

#deleted_post_block {
    width: 50vw;
    height: auto;
    text-align: center;
}

#not_allow_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    text-align: center;
}

#not_allow_block > button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--neutral);
    box-shadow: var(--box_shadow);
    margin-top: 20px;
}

p.empty_block {
    width: calc(100% - 40px);
}
