<div id="h_container" *ngIf="(isCommunityPage && isCommunityExist)">
    <div id="header_container">
        <div id="banner_container">
            <img id="img_banner" src="{{community.banner}}" title="community banner" *ngIf="community.banner != null">
            <!-- <img id="img_banner" src="../../../../assets/banner/default_banner.jpg" title="community banner" *ngIf="community.banner == null"> -->
        </div>
        <div id="button_container">
            <p id="community_name" title="r/{{community.name}}">r/{{community.name}}</p>
        </div>
        <img id="img_avatar" src="{{community.avatar}}" title="community avatar">
        <div id="btn_control_block">
            <button class="btn" id="btn_create_post" title="Create a post" (click)="createPost()"><i class="pi pi-plus" style="color: var(--icon);"></i><p class="txt_btn">Create post</p></button>
            <button class="btn txt_btn" id="btn_join" title="Join this community" [ngStyle]="{'background-color': isJoinCommunity ? 'var(--neutral)' : 'var(--join)', 'border': isJoinCommunity ? '1px solid var(--secondary_color)' : 'none'}" (click)="joinCommunity()"><p id="txt_joined" *ngIf="isJoinCommunity">Joined</p><p id="txt_join" *ngIf="!isJoinCommunity">Join</p></button>
            <button class="btn" id="btn_moderate" *ngIf="isOwner" title="Go to mod page" (click)="controlPosts()">Mod tools</button>
            <button id="btn_community_management" title="Open community options" *ngIf="isOwner" (click)="openCommunityMenu()"><i class="pi pi-ellipsis-h" style="font-size: 18px; color: var(--icon);"></i></button>
            <div id="menu" *ngIf="isMenuOpen">
                <button title="Community setting" (click)="editCommunity()"><i class="pi pi-cog" style="margin-right: 10px; font-size: 20px; color: var(--icon);"></i>Settings</button>
            </div>
        </div>
    </div>
</div>

<div id="outlet" *ngIf="(isCommunityPage && isCommunityExist) || !isCommunityPage">
    <router-outlet>
    </router-outlet>
</div>

<div id="recent_post_info_block" *ngIf="!isCommunityPage && !isViewPostPage && !isUserPage && !isEditCommunityPage && !isUserSettingPage && !isEditPostPage">
    <app-recent-visited-post></app-recent-visited-post>
</div>
<div id="community_info_block" *ngIf="isCommunityPage || isViewPostPage || isEditCommunityPage || isEditPostPage" >
    <community-info [community_info]="community"></community-info>
</div>

<div class="empty_block" *ngIf="!isCommunityExist && isCommunityPage">
    <p>Community does not exist</p>
</div>

