:host {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--header);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    box-sizing: border-box;
}

#outlet {
    width: calc(100% - 380px);
    margin-left: calc(2vw);
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#recent_post_info_block {
    position: fixed;
    height: calc(100vh - var(--header_size));
    top: calc(var(--header_size));
    width: 300px;
    right: 40px;
    overflow: hidden;
    scrollbar-gutter: stable;
    background-clip: content-box;
    box-sizing: border-box;
}

#recent_post_info_block:hover {
    overflow-y: auto;
}

#community_info_block {
    position: fixed;
    height: calc(100vh - var(--header_size));
    top: calc(var(--header_size) + 10px);
    overflow: auto;
}

#user_info_block {
    position: fixed;
    height: calc(100vh - var(--header_size));
    top: calc(var(--header_size) + 10px);
    background-color: var(--neutral);
    overflow: hidden;
    scrollbar-gutter: stable;
    background-clip: content-box;
    padding-right: 10px;
}

#user_info_block:hover {
    overflow-y: auto;
}

//banner 

#h_container {
    width: calc(100% - 380px);
    margin-left: 2vw;
    margin-top: 10px;
}

#header_container {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
}

#banner_container {
    width: 100%;
    height: 120px;
    min-height: 50px;
}

#img_banner {
    width: 100%;
    height: 100%;
}

#button_container {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
    position: relative;
}

#community_name {
    font-size: 30px;
    font-weight: 600;
    min-width: 350px;
    margin-left: calc(80px + 2.5vw);
    background-color: transparent;
    color: var(--icon);
}

#txt_join {
    color: white !important;
}

#txt_joined {
    color: var(--icon) !important;
}

.btn {
    height: 40px;
    width: auto;
    min-width: 60px;
    padding: 0 15px;
    border-radius: 20px;
    font-size: medium;
    // border: 1px solid var(--light_border);
    background-color: none;
}

#button_block, #btn_create_post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn_create_post {
    background-color: var(--neutral);
    border: 1px solid var(--secondary_color);
    color: var(--icon);
}

#btn_create_post:hover {
    border: 1px solid var(--secondary_color);
}

#btn_join {
    margin: 0 20px;
    padding: 0 30px;
}

#btn_create_post i {
    aspect-ratio: 1/1;
    height: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

#img_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid black;
    position: absolute;
    top: calc(85px);
    left: calc(2vw);
    background-color: rgba($color: #000000, $alpha: 0.6);
}


#control_block {
    width: calc(100% - 380px);
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: calc(2vw);
}

#txt_control_posts {
    font-size: 20px;
    color: var(--icon);
    font-weight: 600;
    padding: 15px 0;
    position: relative;
    top: 10px;
}

app-recent-visited-post, #community_info_block, #user_info_block {
    width: 300px;
    right: 40px;
}

@media only screen and (max-width: 1480px) {
    #button_block {
        position: absolute;
        top: 60px;
        right: 0;
    }
    #control_block {
        position: relative;
        top: 30px;
    }
    #button_block > * {
        height: 35px;
    }
    #button_block #btn_create_post {
        width: 160px;
    }
    #btn_create_post i {
        height: 20px;
    }
    #control_block {
        position: relative;
        top: 10px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    #h_container, #control_block {
        margin-left: calc(2vw);
        width: calc(100% - 380px);
    }

    #header_container {
        margin-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    #recent_post_info_block, #community_info_block, #user_info_block {
        display: none;
        right: calc(var(--margin_home));
    }
    #outlet, #h_container, #control_block {
        width: calc(100% - 30px);
    }
}
