<p>Create an account</p>
<form [formGroup]="signUpForm" (ngSubmit)="SignUpFormSubmit()">
    <label id="lbl_email" for="email">Email</label>
    <input id="email" name="email" type="text" formControlName="email" placeholder=" Include email address less than 100 characters">
    <label id="lbl_username" for="username">Username</label>
    <input id="username" name="username" type="text" formControlName="username" placeholder=" Include a-z A-Z 0-9 from 2 to 16 characters">
    <label id="lbl_password" for="password">Password</label>
    <input id="password" name="password" type="text" formControlName="password" placeholder=" Include a-z A-Z 0-9 and symbol from 8 to 20 characters">
    <label id="lbl_confirm_password" for="confirm_password">Confirm password</label>
    <input id="confirm_password" name="confirm_password" type="text" formControlName="confirm_password" placeholder=" Re-enter password">
    <button type="submit" id="btnSignUp">Sign up</button>
</form>

<p>Or</p>
<button id="google_login" type="button" (click)="GoogleSignUp()">
    <img id="google_logo" src="assets/icon/google.png" alt="google logo"/>
    <p>Sign up using Google</p>
</button>

<div id="signin">
    <p>Already have an account?</p>
    <a routerLink="/signin">Sign in</a>
</div>
