

<div id="video_container" [ngStyle]="{'display': isYoutubeLink ? 'block' : 'none'}">
    <h3>{{title}}</h3>
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(data.link)" allow="autoplay">
    </iframe>
</div>

<div id="link_container" [ngStyle]="{'display': !isYoutubeLink ? 'flex' : 'none'}">
    <div>
        <h3>{{title}}</h3>
        <a [href]="data.link" target="_blank">{{data.link}}</a>
    </div>
    <a [href]="data.link" target="_blank">
        <img [src]="data.image">
        <i class="pi pi-external-link"></i>
    </a>
</div>